<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>淘宝-汇吃部分</title>
<link rel="stylesheet" href="css/base.css"/>
<link rel="stylesheet" href="css/style.css"/>
<script src="js/head1.js"></script>
</head>

<body>
<div class="head">
	<div class="head1_box">
    	<div class="head1 clearfix">
        	<ul class="fl">
            	<li class="head1_dl"><a href="#">亲，请登录</a></li>
                <li class="head1_zc"><a href="#">免费注册</a></li>
                <li ><a href="#">手机逛淘宝</a></li>
            </ul>
            <ul class="fr">
            	<li class="head1_navlist_1 "><a href="#" class="clearfix">我的淘宝 <i class="head1_con1 fr"></i></a></li>
                <li class="head1_navlist_2"><a href="#">购物车<i class="head1_con2"></i><i class="head1_con3"></i></a></li>
                <li class="head1_navlist_3"><a href="#">收藏夹<i class="head1_con4"></i><i class="head1_con5"></i></a></li>
                <li class="head1_navlist_4"><a href="#">商品分类 <i class="head1_con6"></i></a></li>
                <li class="head1_navlist_5"><a href="#">卖家中心 <i class="head1_con7"></i></a></li>
                <li class="head1_navlist_6"><a href="#">联系客服<i class="head1_con8"></i></a></li>
                <li class="head1_navlist_7"><a href="#">网站导航<i class="head1_con9"></i></a></li>
            </ul>
        </div>
    </div>
    <a  href="#" class="head1back">
    </a>
    <div class="head2 clearfix">
    	<h1 class="fl"><a href="#">淘宝网</a></h1>
         <div class="fl head_serchbox" id="head_serchbox">
         	<ul class="clearfix head_serchbox_name">
            	<li class="active">宝贝</li>
                <li>天猫</li>
                <li>店铺</li>
            </ul>
            <div class="show">
        		<form action="http://www.taobao.com" method="get" class="clearfix">
    				<input type="text" class="headtxt fl"  placeholder="搜索好吃的"/>
        			<input type="submit" class="headbtn fl" value="搜索" />
      			 </form>
                
            </div>
            <div>
        		<form action="http://www.taobao.com" method="get" class="clearfix">
    				<input type="text" class="headtxt fl"  placeholder="搜索天猫上的好吃的"/>
        			<input type="submit" class="headbtn fl" value="搜天猫" />
      			 </form>
                 
            </div>
            <div >
        		<form action="http://www.taobao.com" method="get" class="clearfix">
    				<input type="text" class="headtxt fl"  placeholder="搜索有好吃的店铺"/>
        			<input type="submit" class="headbtn fl" value="搜店铺" />
      			 </form>
                
            </div>
             <ul class="clearfix head2_con_m">
             	<li><a href="#" class="head_con_m_first">雪地靴</a></li>
                <li><a href="#">羽绒服</a></li>
                <li><a href="#"  class="head2_con_m_color">毛呢外套</a></li>
                <li><a href="#">打底裤</a></li>
                <li><a href="#">进口零食</a></li>
                <li><a href="#">时尚保温杯</a></li>
                <li><a href="#">秋冬连衣裙</a></li>
                <li><a href="#">新款童装</a></li>
                <li><a href="#">棉衣</a></li>
                <li><a href="#">时尚马丁靴</a></li>
                <li><a href="#">皮衣</a></li>
                <li><a href="#">新款毛衣</a></li>
             </ul>
         </div>
         <a href="#" class="fl head2_gjss">高级搜索</a>
    </div>
</div>
	<div class="fbox clearfix">
    	<div class="fl f1">
        	<h4 class="clearfix f1_top"><a href="#" class="fl f1_top_l">汇吃</a><a href="#" class="fr f1_top_r">挑遍天下美食</a></h4>
            <div class="f1_bottom">
            	<a href="#" class="fl f1_bottom_l">
                	<img src="img/f4.jpg" />
                    <i >限量</i>
               	</a>
                <a href="#" class="fl f1_bottom_r">
                	<img src="img/f5.jpg" />
                    <i>特价</i>
               	</a>
            </div>
        </div>
        <div class="fl f2">
        	<h4 class="clearfix f2_top"><a href="#" class="fl f2_top_l">B格</a><a href="#" class="fr f2_top_r">指尖上的BIG<i></i></a></h4>
            <div class="f2_bottom">
            	<a href="#" class="fl f2_bottom_l">
                	<img src="img/f6.jpg" />
               	</a>
                <ul class="fl f2_bottom_r">
                	<li><a href="#">我家的烘焙坊</a></li>
                    <li><a href="#">最好的时光</a></li>
                    <li><a href="#">选择买不到的爱</a></li>
                    <li><a href="#">旅行的意义</a></li>
                    <li><a href="#">我住的城市不下雪</a></li>
                    <li><a href="#">执子之手与子偕老</a></li>
                </ul>
        	</div>
         </div>
        <div class="fl f3">
        	<h4 class="clearfix f3_top">
            	<a href="#" class="fl f3_top_l">二手</a>
                <a href="#" class="fr f3_top_r">闲置转卖赚钱<i></i></a>
            </h4>
            <div class="f3_mbox">
            	<ul class="clearfix">
                	<li class="fl"><a href="#"><img src="img/f8.jpg"/></a></li>
                    <li class="fl"><a href="#"><img src="img/f8.jpg"/></a></li>
                    <li class="fl"><a href="#"><img src="img/f8.jpg"/></a></li>
                    <li class="fl"><a href="#"><img src="img/f7.jpg"/></a></li>
                    <li class="fl"><a href="#"><img src="img/f7.jpg"/></a></li>
                    <li class="fl"><a href="#"><img src="img/f7.jpg"/></a></li>
                </ul>
            </div>
            <div class="f3_bottom clearfix">
            	<a href="#" class="fl f3_bottom_l">
                	<img src="img/f9.jpg" />
               	</a>
                <a href="#" class="fr f3_bottom_r">
                	安娜苏汽车防滑垫<span>#</span>自制纯手工<span>#</span>
                    <p><span>￥</span>35</p>
               	</a>
            </div>
        </div>
        <div class="fl f4">
        	<h4 class="clearfix f4_top">
            	<a href="#" class="fl f4_top_l">众筹</a>
                <a href="#" class="fr f4_top_r">做未来投资人</a>
            </h4>
            <a  href="#" class="f4_m">
            	<img src="img/f10.jpg"/>
                <p>便携干衣机！首发优惠200个</p>
            </a>
            <div class="f4_bottom">
            	<a  href="#" class="fl f4_bottom_l">
            		<img src="img/f11.jpg"/>
                	<p>77度智能水杯</p>
            	</a>
                <a  href="#" class="fr f4_bottom_l">
            		<img src="img/f11.jpg"/>
                	<p>1元起抢钻戒</p>
            	</a>
            </div>
        </div>
    
    </div>
</body>
</html>
