<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>京东</title>
<link rel="stylesheet" href="css/base.css"/>
<link rel="stylesheet" href='css/style.css'/>
<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<script>
	DD_belatedPNG.fix('*');
</script>
<![endif]-->
<script src="js/jd_head.js"></script>
<style>
</style>
</head>

<body>
	<ul class="tubiaobox" id="toolbar">
    	<li class="tubiao_1">
         	<div>
            	<i class="tubiao1"></i>
            </div> 
            <a href="#">购物车</a> 
        </li>
        <li class="tubiao_2">
         	<div>
            	<i class="tubiao2"></i>
            </div>
            <a href="#">我的关注</a>
        </li>
        <li class="tubiao_3">
         	<div>
            	<i class="tubiao3"></i>
            </div>
            <a href="#">我的足迹</a>
        </li>
        <li class="tubiao_4">
         	<div>
            	<i class="tubiao4"></i>
            </div>
            <a href="#">咨询JIMI</a>
        </li>
        <li class="tubiao_5">
         	<div>
            	<i class="tubiao5"></i>
            </div>
            <a href="#">顶部</a>
        </li>
        <li class="tubiao_6">
         	<div>
            	<i class="tubiao6"></i>
            </div>
            <a href="#">反馈</a>
        </li>
    </ul>
    <div class="rborder"></div>
	<div class="head_tbox">
    	<div class="head_t clearfix">
        	<div class="box fl" id="city">
 				<ul class="selectcity clearfix">
 					<li><a href="#" >北京</a></li>
   					<li><a href="#">上海</a></li>
    				<li><a href="#">天津</a></li>
    				<li><a href="#">重庆</a></li>
    				<li><a href="#">河北</a></li>
    				<li><a href="#">山西</a></li>
    				<li><a href="#">河南</a></li>
    				<li><a href="#">辽宁</a></li>
    				<li><a href="#">吉林</a></li>
    				<li><a href="#">黑龙江</a></li>
    				<li><a href="#">内蒙古</a></li>
    				<li><a href="#">江苏</a></li>
    				<li><a href="#">山东</a></li>
    				<li><a href="#">安徽</a></li>
    				<li><a href="#">浙江</a></li>
    				<li><a href="#">福建</a></li>
    				<li><a href="#">湖北</a></li>
    				<li><a href="#">湖南</a></li>
    				<li><a href="#">广东</a></li>
    				<li><a href="#">广西</a></li>
    				<li><a href="#">江西</a></li>
    				<li><a href="#">四川</a></li>
    				<li><a href="#">海南</a></li>
    				<li><a href="#">贵州</a></li>
    				<li><a href="#">云南</a></li>
    				<li><a href="#">西藏</a></li>
    				<li><a href="#">陕西</a></li>
    				<li><a href="#">甘肃</a></li>
    				<li><a href="#">青海</a></li>
    				<li><a href="#">宁夏</a></li>
    				<li><a href="#">新疆</a></li>
    				<li><a href="#">台湾</a></li>
    				<li><a href="#">香港</a></li>
    				<li><a href="#">澳门</a></li>
    				<li><a href="#">钓鱼岛</a></li>
    				<li><a href="#">海外</a></li>
 				</ul>
   			    <div class="tocity">送至：北京</div>
 			</div>
            <ul class="fr head_t_navlist">
            	<li><a href="#" >您好，请登录！</a><a href="#" class="land">免费注册</a></li>
                <li><a href="#">我的订单</a></li>
                <li><a href="#" class="head_t_jiao">我的京东
                		<i class="head_t_jiaoimg"></i>
                    </a></li>
                <li><a href="#">京东会员</a></li>
                <li><a href="#">企业采购</a></li>
                <li><a href="#" class="head_t_jiao head_t_phone">手机京东
                		<i class="head_t_jiaoimg"></i>
                    	<em class="head_t_phoneimg"></em>
                	</a></li>
                <li><a href="#" class="head_t_jiao">关注京东
                 		<i class="head_t_jiaoimg"></i>
                	</a></li>
                <li><a href="#" class="head_t_jiao">客户服务
                		<i class="head_t_jiaoimg"></i>
                	</a></li>
                <li  class="head_t_navlist_last head_t_jiao"><a href="#">网站导航               
                 	<i class="head_t_jiaoimg"></i>
                	</a></li>
            </ul>
        </div>
    </div>
    <div class="head_conbox clearfix">
    	<h1 class="fl"><a href="#">京东</a></h1>
        <img class="fl" src="img/qiu.gif"/>
        <div class="fl head_serchbox">
        	<form action="http://www.jingdong.com" method="get" class="clearfix">
    			<input type="text" class="headtxt fl"  placeholder="智能微投"/>
        		<input type="submit" class="headbtn fl" value="搜索" />
      		 </form>
             <ul class="clearfix head_con_m">
             	<li><a href="#" class="head_con_m_first">魅蓝note2</a></li>
                <li><a href="#">送现金券</a></li>
                <li><a href="#">一元秒杀</a></li>
                <li><a href="#">品质童装</a></li>
                <li><a href="#">9.9秒杀</a></li>
                <li><a href="#">复读机</a></li>
                <li><a href="#">真丝丝巾</a></li>
                <li><a href="#">伊索寓言</a></li>
             </ul>
         </div>
         <div class="fr buyerbox" id="buycarbox">
            <p class="buyertxt">购物车中还没有商品，赶紧选购吧！
            	<i class="buyercon4"></i>
            </p>
            <a class="buyercar">我的购物车
            	<i class="buyercon1"></i>
                <i class="buyercon2"></i>
                <i class="buyercon3"></i>
            </a>
         </div>
    </div>
    <div class="head_bannerback">
    	<div class="head_bannerbox">
        	<ul class="head_banner_list clearfix">
            	<li><a href="#">服装城</a></li>
                <li><a href="#">美妆馆</a></li>
                <li><a href="#">美食</a></li>
                <li><a href="#">全球购</a></li>
                <li><a href="#">闪购</a></li>
                <li><a href="#">团购</a></li>
                <li><a href="#">拍卖</a></li>
                <li><a href="#">金融</a></li>
                <li><a href="#">智能</a></li>
            </ul>
            <h3>全部商品分类</h3>
        </div>
    </div>
    <div class="head_bannerconbox clearfix">
    	<ul class="head_bannerconbox_l fl">
        	<li>
            	家用电器
                <i></i>
            </li>
            <li>
            	手机、数码、京东通信
                <i></i>
            </li>
            <li>
            	电脑、办公
                <i></i>
            </li>
            <li>
            	家居、家具、家装、厨具
                <i></i>
            </li>
            <li>
            	男装、女装、内衣、珠宝
                <i></i>
            </li>
            <li>
            	各护化妆
                <i></i>
            </li>
            <li>
            	鞋靴、箱包、钟表、奢侈品
                <i></i>
            </li>
            <li>
            	运动户外
                <i></i>
            </li><li>
            	汽车、汽车用品
                <i></i>
            </li>
            <li>
            	母婴、玩具乐器
                <i></i>
            </li>
            <li>
            	食品、酒类、生鲜、特产
                <i></i>
            </li>
            <li>
            	营养保健
                <i></i>
            </li>
            <li>
            	图书、音像、电子书
                <i></i>
            </li>
            <li>
            	彩票、旅行、充值、票务
                <i></i>
            </li>
            <li>
            	理财、重酬、白条、保险
                <i></i>
            </li>
        </ul>
        <div class="head_bannerconbox_m fl">
        </div >
        <div class="head_bannerconbox_r fr">
        	<h3 class="clearfix">京东快报<a href="#" class="fr">更多 &gt;</a></h3>
            <ul class="head_bannerconbox_r_m">
            	<li><a href="#"><span>【特惠】</span>亚瑟士运动鞋一元秒杀</a></li>
                <li><a href="#"><span>【公告】</span>南京物流中心搬迁期配送推迟</a></li>
                <li><a href="#"><span>【特惠】</span>亚瑟士运动鞋一元秒杀</a></li>
                <li><a href="#"><span>【公告】</span>南京物流中心搬迁期配送推迟</a></li>
                <li class="head_bannerconbox_r_m_last"><a href="#"><span>【特惠】</span>亚瑟士运动鞋一元秒杀</a></li>
            </ul>
            <h3 class="head_bannerconbox_r_dashed">京东快报</h3>
         	<ul class="sevicecon_list clearfix">
               	<li>
                    <a href="#">话费
                    <i class="sevicecon1"></i>
                    </a>
               	</li>
                <li>
                    <a href="#">机票
                    <i class="sevicecon2"></i>
                    </a>
               	</li>
                <li>
                    <a href="#">电影票
                    <i class="sevicecon3"></i>
                    </a>
               	</li>
                <li class="sevicecon_list_rowlast">
                    <a href="#">游戏
                    <i class="sevicecon4"></i>
                    </a>
               	</li>
                <li>
                    <a href="#">话费
                    <i class="sevicecon1"></i>
                    </a>
               	</li>
                <li>
                    <a href="#">机票
                    <i class="sevicecon2"></i>
                    </a>
               	</li>
                <li>
                    <a href="#">电影票
                    <i class="sevicecon3"></i>
                    </a>
               	</li>
                <li class="sevicecon_list_rowlast">
                    <a href="#">游戏
                    <i class="sevicecon4"></i>
                    </a>
               	</li>
                <li class="sevicecon_list_columlast">
                    <a href="#">话费
                    <i class="sevicecon1"></i>
                    </a>
               	</li>
                <li class="sevicecon_list_columlast">
                    <a href="#">机票
                    <i class="sevicecon2"></i>
                    </a>
               	</li>
                <li class="sevicecon_list_columlast">
                    <a href="#">电影票
                    <i class="sevicecon3"></i>
                    </a>
               	</li>
                <li class="sevicecon_list_rowlast sevicecon_list_columlast">
                    <a href="#">游戏
                    <i class="sevicecon4"></i>
                    </a>
               	</li>
            </ul>
         </div>
    </div>
    <div  class="conbannerlist_box clearfix">
    	<ul class="conbannerlist clearfix">
    		<li><a href="#"><img src="img/conlist1.png"/></a></li>
       	 	<li><a href="#"><img src="img/conlist2.png"/></a></li>
       	 	<li><a href="#"><img src="img/conlist1.png"/></a></li>
        	<li><a href="#"><img src="img/conlist2.png"/></a></li>
        	<li><a href="#"><img src="img/conlist1.png"/></a></li>
    	</ul>
    </div>
    <div class="clearfix con_likebox">
    	<h2 class="fl">猜你喜欢</h2>
        <i class="fl"></i>
        <a href="#" class="fr">
        	换一批
            <em></em>
        </a>
        <b></b>
    </div>
    <ul class="con_likeconbox clearfix">
    	<li>
        	<img src="img/car.jpg"/>
            <div>
            	<a href="#">【惠买车】荣威 350订金499元 2015款 1.5L</a>
                <p> ￥499元</p>
            </div>
        </li>
        <li>
        	<img src="img/car.jpg"/>
            <div>
            	<a href="#">【惠买车】荣威 350订金499元 2015款 1.5L</a>
                <p> ￥499元</p>
            </div>
        </li>
        <li>
        	<img src="img/car.jpg"/>
            <div>
            	<a href="#">【惠买车】荣威 350订金499元 2015款 1.5L</a>
                <p> ￥499元</p>
            </div>
        </li>
        <li>
        	<img src="img/car.jpg"/>
            <div>
            	<a href="#">【惠买车】荣威 350订金499元 2015款 1.5L</a>
                <p> ￥499元</p>
            </div>
        </li>
        <li >
        	<img src="img/car.jpg"/>
            <div class="con_likeconlast">
            	<a href="#">【惠买车】荣威 350订金499元 2015款 1.5L</a>
                <p > ￥499元</p>
            </div>
        </li>
    </ul>
        
        
    <div class="foot1box">
    	<ul class="foot1con clearfix">
        	<li class="foot1con_con1"></li>
            <li class="foot1con_con2"></li>
            <li class="foot1con_con3"></li>
            <li class="foot1con_con4"></li>
        </ul>
    </div>
    <div  class="foot2box">
    	<dl>
        	<dt>购物指南</dt>
            <dd><a href="#">购物流程</a></dd>
        </dl>
    </div>
     
</body>
</html>
