<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>优酷音乐</title>
<link rel="stylesheet" href="css/base.css"/>
<link rel="stylesheet" href="css/style.css"/>
<script src="js/banner.js"></script>


</head>

<body>
 <div class="head1 clearfix">
 	<h1 class="fl"><a href="#">优酷</a></h1>
    <a href="#" class="fl head1_l2">首页</a>
    <span class="fl head1_l3">频道
    	<i class="head1_l3_con"></i>
    </span>
    <div class="fl head1_l4_box">
        <form action="http://www.taobao.com" method="get" class="fl head1_l4">
            <input type="text" class="headtxt fl" id="headtxt" placeholder="热门音乐"/>
            <input type="submit" class="headbtn fl" value="搜库" />
        </form>
        <a  href="#" class="head1_l4_con" ></a>
        <ul class="headtxt_con" id="headtxt_con">
            <li> 
                <a href="#" class="clearfix">
                    <span class="fl headtxt_con_back1">1</span>
                    <h5 class="fl">伪装者</h5>
                </a>
            </li>
            <li> 
                <a href="#" class="clearfix">
                    <span class="fl headtxt_con_back1">2</span>
                    <h5 class="fl">花千骨</h5>
                </a>
            </li>
            <li> 
                <a href="#" class="clearfix">
                    <span class="fl headtxt_con_back1">3</span>
                    <h5 class="fl">铁在烧</h5>
                </a>
            </li>
            <li> 
                <a href="#" class="clearfix">
                    <span class="fl headtxt_con_back2">4</span>
                    <h5 class="fl">明若晓溪</h5>
                </a>
            </li>
            <li> 
                <a href="#" class="clearfix">
                    <span class="fl headtxt_con_back2">5</span>
                    <h5 class="fl">中国好声音第四季</h5>
                </a>
            </li>
            <li> 
                <a href="#" class="clearfix">
                    <span class="fl headtxt_con_back2">6</span>
                    <h5 class="fl">煎饼侠</h5>
                </a>
            </li>
            <li> 
                <a href="#" class="clearfix">
                    <span class="fl headtxt_con_back2">7</span>
                    <h5 class="fl">极限挑战</h5>
                </a>
            </li>
            <li> 
                <a href="#" class="clearfix">
                    <span class="fl headtxt_con_back2">8</span>
                    <h5 class="fl">火影忍者</h5>
                </a>
            </li>
            <li> 
                <a href="#" class="clearfix">
                    <span class="fl headtxt_con_back2">9</span>
                    <h5 class="fl">Running man</h5>
                </a>
            </li>
            <li> 
                <a href="#" class="clearfix">
                    <span class="fl headtxt_con_back2">10</span>
                    <h5 class="fl">dota</h5>
                </a>
            </li>
    </ul>
    </div>
    <ul class="fr head1_r">
    	<li> <a href="#" class="head1_r1">上传
        		<i class="head1_r_con1"></i>
                <i class="head1_r_con2"></i>
        	</a>
        </li>
        <li> <a href="#" class="head1_r2">会员</a></li>
        <li> <a href="#" class="head1_r3">APP下载</a></li>
        <li> <a href="#" class="head1_r4">登陆
        	<i class="head1_r_con3"></i>
            <i class="head1_r_con4"></i>
        	</a>
        </li>
        <li> <a href="#">注册</a></li>
    </ul>
 </div>
 <div class="head2 clearfix">
 	<ul class="fl head2_l">
    	<li> <a href="#">首页</a></li>
        <li> <a href="#">电视剧</a></li>
        <li> <a href="#">电影</a></li>
        <li> <a href="#">综艺</a></li>
        <li class="main"> <a href="#" >音乐</a></li>
        <li> <a href="#">动漫</a></li>
        <li> <a href="#"  class="head2_l_last">全部</a></li>
    </ul>
    <ul class="fl head2_r">
        <li> <a href="#" class=" head2_r1">资讯·科技
        		<i class="head2_r_con1"></i>
        	</a>
        </li>
        <li> <a href="#" class=" head2_r1">娱乐·搞笑
        		<i class="head2_r_con1"></i>
        	</a>
        </li>
        <li> <a href="#" class=" head2_r1">旅游·亲子
        		<i class="head2_r_con1"></i>
        	</a>
        </li>
        <li> <a href="#" >排行</a></li>
    </ul>
 </div>
 <div class="head3 clearfix">
    <ul class="clearfix">
        <li class="main1"> <a href="#">音乐频道</a></li>
        <li> <a href="#">新歌首播</a></li>
        <li> <a href="#">华语</a></li>
        <li> <a href="#">欧美</a></li>
        <li> <a href="#">日韩</a></li>
        <li> <a href="#">热播</a></li>
        <li> <a href="#">明星</a></li>
        <li> <a href="#">音乐牛人</a></li>
        <li> <a href="#">来风直播</a></li>
        <li> <a href="#">音乐排行榜</a></li>
        <li> <a href="#">全部音乐</a></li>
    </ul>
  </div>
 <div class="banner" id="banner">
 	<a href="#" class="banner_show">
    	<img src="img/banner1.png"/>
    </a>
    <a href="#">
    	<img src="img/banner2.png"/>
    </a>
    <a href="#">
    	<img src="img/banner3.jpg"/>
    </a>
    <a href="#">
    	<img src="img/banner1.png"/>
    </a>
    <a href="#">
    	<img src="img/banner2.png"/>
    </a>
    <a href="#">
    	<img src="img/banner3.jpg"/>
    </a>
    <ul class="clearfix" id="bannerbtn">
    	<li class="banner_active"><a></a></li>
        <li><a></a></li>
        <li><a></a></li>
        <li><a></a></li>
        <li><a></a></li>
        <li><a></a></li>
    </ul>
 </div>
 <div class="address clearfix">
 	<a href="#" class="fl zhuanji">
    	<img src="img/k1.png" title="1theK"/>
        <p>05:34</p>
    </a>
    <a href="#" class="fl zhuanji">
    	<img src="img/k2.png" title="YG_family"/>
        <p>00:54</p>
    </a>
    <div class="fr address_con" >
    	<div class="address_back"><h3>按地区分类</h3></div>
        <ul class="address_list clearfix address_list1">
        	<li><a  href="#">大陆</a></li>
        	<li><a  href="#">港台</a></li>
        	<li><a  href="#">日韩</a></li>
        	<li><a  href="#">欧美</a></li>
        	<li><a  href="#">其他</a></li>
        </ul class="address_list">
        <div class="address_back"><h3>按类型分类</h3></div>
        <ul class="address_list clearfix address_list2">
        	<li><a  href="#">流行</a></li>
        	<li><a  href="#">摇滚</a></li>
        	<li><a  href="#">舞曲</a></li>
        	<li><a  href="#">电子</a></li>
        	<li><a  href="#">R&B </a></li>
            <li><a  href="#">流行</a></li>
        	<li><a  href="#">摇滚</a></li>
        	<li><a  href="#">舞曲</a></li>
            <li><a  href="#">流行</a></li>
        	<li><a  href="#">摇滚</a></li>
            <li><a  href="#">音乐剧</a></li>
        	<li><a  href="#">新世纪</a></li>
        	<li><a  href="#">乡村民谣</a></li>
            <li><a  href="#">流行</a></li>
        	<li><a  href="#">摇滚</a></li>
        	<li><a  href="#">舞曲</a></li>
        </ul>
    </div>
 </div>
	
</body>
</html>
