<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>小米官网练习2</title>
<link rel="stylesheet" href="css/base.css"/>
<link rel="stylesheet" href="css/main2.css"/>
</head>

<body>
  <div class="header">
    <div class="head-top">
      <div class="head-top-con clearfix">
		   <ul class="fl">
			   <li ><a href="#">小米网</a></li>
			   <li><a href="#">MIUI</a></li>
		   	   <li><a href="#">米聊</a></li>
			   <li><a href="#">游戏</a></li>
			   <li><a href="#">多看阅读</a></li>
			   <li><a href="#">云服务</a></li>
			   <li><a href="#">小米网移动版</a></li>
			   <li class="last"> <a  href="#">select region</a> </li>
		   </ul>
           <p class="fr-list fr">
               <a href="#" class="fr-1">登陆</a>|
               <a href="#" class="fr-2">注册</a>
           </p>
      </div>     
    </div>
    <div class="clearfix head-con">
        <h1 class="logo fl"><a href="#">小米网</a></h1>
        <div class="searchbox fr">
             <p class="tip">11月18预约开放购买</p>
             <div class="buycar fr">
                   <a href="#" >购物车</a>
                   <p class="showbox">购物车中还没有商品，赶紧选购吧</p>
             </div>
             <img  class="fr " src="img/log1.jpg"/>
         </div>
    </div>
     <ul class="nav clearfix">
			      <li class="first" ><a href="#">全部商品分类</a></li>
                  <li><a class="second"  href="#">首页</a></li>
			      <li><a href="#">小米手机</a></li>
		   	      <li><a href="#">红米</a></li>
			      <li><a href="#">小米平板</a></li>
			      <li><a href="#">小米电视</a></li>
			      <li><a href="#">盒子</a></li>
			      <li><a href="#">路由器</a></li>
                  <li><a href="#">合约机</a></li>
                  <li><a href="#">服务</a></li>
			      <li > <a href="#">社区</a> </li>
		     </ul>
  </div>
  <div class="content clearfix">
       <ul class="menu fl">
           <li>
               <h3><a href="#">购买手机</a></h3>
               <p>
                   <a href="#">小米4</a>
                   <a href="#">小米3</a>
                   <a href="#">红米</a>
                   <a href="#">红米Note</a>
               </p>
           </li>
           <li>
               <h3><a href="#">购买手机</a></h3>
               <p>
                   <a href="#">小米4</a>
                   <a href="#">小米3</a>
                   <a href="#">红米</a>
                   <a href="#">红米Note</a>
               </p>
           </li>
           <li>
               <h3><a href="#">购买手机</a></h3>
               <p>
                   <a href="#">小米4</a>
                   <a href="#">小米3</a>
                   <a href="#">红米</a>
                   <a href="#">红米Note</a>
               </p>
           </li>
           <li>
               <h3><a href="#">购买手机</a></h3>
               <p>
                   <a href="#">小米4</a>
                   <a href="#">小米3</a>
                   <a href="#">红米</a>
                   <a href="#">红米Note</a>
               </p>
           </li>
           <li>
               <h3><a href="#">购买手机</a></h3>
               <p>
                   <a href="#">小米4</a>
                   <a href="#">小米3</a>
                   <a href="#">红米</a>
                   <a href="#">红米Note</a>
               </p>
           </li>
           <li>
               <h3><a href="#">购买手机</a></h3>
               <p>
                   <a href="#">小米4</a>
                   <a href="#">小米3</a>
                   <a href="#">红米</a>
                   <a href="#">红米Note</a>
               </p>
           </li>
           <li>
               <h3><a href="#">购买手机</a></h3>
               <p>
                   <a href="#">小米4</a>
                   <a href="#">小米3</a>
                   <a href="#">红米</a>
                   <a href="#">红米Note</a>
               </p>
           </li>
           <li>
               <h3><a href="#">购买手机</a></h3>
               <p>
                   <a href="#">小米4</a>
                   <a href="#">小米3</a>
                   <a href="#">红米</a>
                   <a href="#">红米Note</a>
               </p>
           </li>
       </ul>
       <div class="banner fr">
            <img src="img/banner.jpg"/>
            <ul >
                <li><img src="img/1031HMNOTExiao.jpg"/></li>
                <li><img src="img/1008xiaomi33.jpg"/></li>
                <li><img src="img/0919dianshixiao.jpg"/></li>
            </ul>
       </div>
          <h3 class="book">多看图书<a href="#">更多&gt </a></h3>
          <ul class="clearfix booklist">
              <li>
                 <div class="bookcon1"> 
                       <h4>《参与感：小米口碑营销内部手册》</h4>
                       <p>黎万强（小米联合创始人）</p>
                       <p>9.99元</p>
                       <img src="img/book1.jpg"/>
                  </div>
                  <div class="bookcon2">这是阿黎在小米四年的工作笔记，雷军亲笔作序。</div>
                  <div class="bookcon3"></div>
              </li>
              <li>
                 <div class="bookcon1"> 
                       <h4>《参与感：小米口碑营销内部手册》</h4>
                       <p>黎万强（小米联合创始人）</p>
                       <p>9.99元</p>
                       <img src="img/book1.jpg"/>
                  </div>
                  <div class="bookcon2">这是阿黎在小米四年的工作笔记，雷军亲笔作序。</div>
                  <div class="bookcon3"></div>
              </li>
              <li>
                 <div class="bookcon1"> 
                       <h4>《参与感：小米口碑营销内部手册》</h4>
                       <p>黎万强（小米联合创始人）</p>
                       <p>9.99元</p>
                       <img src="img/book1.jpg"/>
                  </div>
                  <div class="bookcon2">这是阿黎在小米四年的工作笔记，雷军亲笔作序。</div>
                  <div class="bookcon3"></div>
              </li>
          </ul>
      <p class="likelist">大家都喜欢</p>
      <div class="like clearfix">
           <div class="likel fl">
                <div class="likeltop">
                     <div class="fl">
                         <p class="likeltop1">小米T恤换季特卖</p>
                         <p class="likeltop2">舒适纯棉面料 多色经图案</p>
                         <p class="likeltop3">全场29元</p>
                     </div>
                     <img  class="fl" src="img/like2.jpg"/>
                </div>
                <div class="likelbottom">
                	<div class="likelbottom-l fl">
			            <p>先锋SE-MJ512折叠式头戴耳机<br />168元</p>
			            <img src="img/like3.jpg"/>
		            </div>
                     <div class="likelbottom-r fr">
			            <p>先锋SE-MJ512折叠式头戴耳机<br />168元</p>
			            <img src="img/like3.jpg"/>
		            </div>
                </div>
           </div>
           <dl class="liker fr">
                <dt>HOT <span>热销商品排行</span></dt>
                <dd>
			        <span class="num fl">1</span>
			        <div class="shop fl">
				        <p class="name">5200mah移动电源</p>
				        <p>49元</p>
			        </div>
			        <img src="img/like1.jpg"/>
                </dd>
                <dd>
			        <span class="num fl">1</span>
			        <div class="shop fl">
				        <p class="name">5200mah移动电源</p>
				        <p>49元</p>
			        </div>
			        <img src="img/like1.jpg"/>
                </dd>
                <dd>
			        <span class="num fl">1</span>
			        <div class="shop fl">
				        <p class="name">5200mah移动电源</p>
				        <p>49元</p>
			        </div>
			        <img src="img/like1.jpg"/>
                </dd>
                <dd>
			        <span class="num fl">1</span>
			        <div class="shop fl">
				        <p class="name">5200mah移动电源</p>
				        <p>49元</p>
			        </div>
			        <img src="img/like1.jpg"/>
                </dd>
                 <dd>
			        <span class="num fl">1</span>
			        <div class="shop fl">
				        <p class="name">5200mah移动电源</p>
				        <p>49元</p>
			        </div>
			        <img src="img/like1.jpg"/>
                </dd>
           </dl>
      </div>
      
  </div>
  <div class="footer">
     <div class="footercon clearfix">
         <ul class="service clearfix">
              <li><img src="img/foot2.jpg"/>
                  <p>1小时快修服务</p>
              </li>
               <li><img src="img/foot2.jpg"/>
                  <p>1小时快修服务</p>
              </li>
              <li><img src="img/foot2.jpg"/>
                  <p>1小时快修服务</p>
              </li>
               <li><img src="img/foot2.jpg"/>
                  <p>1小时快修服务</p>
              </li>
              <li><img src="img/foot2.jpg"/>
                  <p>1小时快修服务</p>
              </li>
         </ul>
         <ul class="guild clearfix">
              <li>
                  <dl>
                      <dt>帮助中心</dt>
                      <dd>购物指南</dd>
                      <dd>支付方式</dd>
                      <dd>配送方式</dd>
                  </dl>
              </li>
              <li>
                  <dl>
                      <dt>帮助中心</dt>
                      <dd>购物指南</dd>
                      <dd>支付方式</dd>
                      <dd>配送方式</dd>
                  </dl>
              </li>
               <li>
                  <dl>
                      <dt>小米之家</dt>
                      <dd>小米之家</dd>
                      <dd>服务网点</dd>
                      <dd>预约亲临到店服务</dd>
                  </dl>
              </li>
              <li>
                  <dl>
                      <dt>帮助中心</dt>
                      <dd>购物指南</dd>
                      <dd>支付方式</dd>
                      <dd>配送方式</dd>
                  </dl>
              </li>
               <li>
                  <dl>
                      <dt>帮助中心</dt>
                      <dd>购物指南</dd>
                      <dd>支付方式</dd>
                      <dd>配送方式</dd>
                  </dl>
              </li>
              <li class="guildlast">
                  <p class="guildlast1">400-100-5678</p>
                  <p class="guildlast2">周一至周日 8:00到18:00</p>
                  <p class="guildlast3">（仅收市话费）</p>
                  <p class="guildlast4">24小时在线客服</p>
              </li>
         </ul>
         <div class="footernav clearfix">
               <div class="fl">
                   <ul class="clearfix">
                       <li class="fnfirst">小米旗下网站：小米网</li>
                       <li>MIUI</li>
                       <li>米聊</li>
                       <li>多看书城</li>
                       <li>小米路由器</li>
                       <li>繁荣香港</li>
                       <li>繁荣台湾</li>
                       <li>English</li>
                       <li>小米后院</li>
                       <li>小米天猫店</li>
                       <li class="fnlast">小米网盟</li>
                   </ul>
                   <p>公安局备案京网文</p>
               </div>
               <img class="fr" src="img/foot1.jpg"/>
         </div>
         <img class="fimg" src="img/fan.jpg" />
     </div>
  </div>
       
  
</body>
</html>