
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>oppo手机官网</title>
	<link rel="stylesheet" href="css/base.css"/>
	<link rel="stylesheet" href="css/style.css"/>
<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<script>
	DD_belatedPNG.fix('*');
</script>
<![endif]-->
</head>

<body>
	<div class="loginbarbox">
		<div class="loginbar clearfix">
        	<a href="#" class="logbarimg1 fl"></a>
            <a href="#" class="logbarimg2 fl"></a>
            <p class="fl opponum">4001-666-888</p>
            <ul class="fr logbarcon">
            	<li class="fl"><a href="#">登陆</a></li>
                <li class="fl"><a href="#">注册</a></li>
                <li class="fl"><a href="#">积分兑换</a></li>
                <li class="fl"><a href="#">帮助中心</a></li>
                <li class="fl buycarbox">
                	<a href="#" class="buycar"> 购物车
                    	<i  class="logbarimg3"></i>
                    </a>
               		<p class="buycarcon">您还没有选购商品，请您选购！</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="logobox">
    	<h1 class="logo fl"><a href="#">oppo</a></h1>
        <ul class="logonav fr">
       		<li class="fl"><a href="#">首页</a></li>
            <li class="fl"><a href="#">手机</a></li>
            <li class="fl"><a href="#">配件</a></li>
            <li class="fl"><a href="#">服务</a></li> 
       		<li class="fl"><a href="#">体验店</a></li>
            <li class="fl"><a href="#">软件商店</a></li>
            <li class="fl"><a href="#">ColorOS</a></li>
            <li class="fl"><a href="#">社区</a></li> 
        </ul>
    </div>
    <div class="headbannerbox">
        
        <div class="headbanneropa2"></div>
        <div class="headbanner">
        	<p class="headbannerimg1"></p>
            <p class="headbannerimg3"></p>
            <p class="headbannerimg4">
            	<a href="#" class="headbannerimg4-a1"></a>
                <a href="#" class="headbannerimg4-a2"></a>
                <a href="#" class="headbannerimg4-a3"></a>
            </p>
        </div>
        <a href="#" class="headbannerimg2"></a>
        <div class="headbanneropa"></div>
        <div class="headbanner">
        </div>
    </div>
    <div class="conbox">
    	<div class="con">
        	<div class="oppostar"><a href="#"></a></div>
            <ul class="phone clearfix">
            	<li class="phonefirst">
                	<a href="#" class="phoneimg"><img src="img/find7.jpg" />
                    	<i class="phoneimgback"></i>
                    </a>
                    <p class="phonexh">find7</p>
                    <p class="phone4g">4G全能旗舰</p>
                    <p class="price">￥2999&nbsp;&nbsp;
                    	<a href="#" class="pricecon">立即购买<i></i></a>
                    </p>
                </li>
                <li >
                	<a href="#" class="phoneimg"><img src="img/find7.jpg" />
                    	<i class="phoneimgback"></i>
                    </a>
                    <p class="phonexh">find7</p>
                    <p class="phone4g">4G全能旗舰</p>
                    <p class="price">￥2999&nbsp;&nbsp;
                    	<a href="#" class="pricecon">立即购买<i></i></a>
                    </p>
                </li>
                <li >
                	<a href="#" class="phoneimg"><img src="img/find7.jpg" />
                    	<i class="phoneimgback"></i>
                    </a>
                    <p class="phonexh">find7</p>
                    <p class="phone4g">4G全能旗舰</p>
                    <p class="price">￥2999&nbsp;&nbsp;
                    	<a href="#" class="pricecon">立即购买<i></i></a>
                    </p>
                </li>
                <li class="phonelast">
                	<a href="#" class="phoneimg"><img src="img/find7.jpg" />
                    	<i class="phoneimgback"></i>
                    </a>
                    <p class="phonexh">find7</p>
                    <p class="phone4g">4G全能旗舰</p>
                    <p class="price">￥2999&nbsp;&nbsp;
                    	<a href="#" class="pricecon">立即购买<i></i></a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="peijianbox">
    	<div class="peijian">
        	<div class="peijianimg"><a href="#"></a></div>
			<div class="clearfix peijiancon">
            	<div class="peijiancon_l fl">
                	<div class="peijiancon_l_t clearfix">
                    	<div class="peijiancon_l_t_l fl">
                        	<a href="#"><img src="img/peijian1.jpg"/></a>
                            <p class="peijiancon_l_t_l_p1">可触摸视窗 世界触手可及</p>
                            <p class="peijiancon_l_t_l_p2">OPPO Find7 视窗保护皮套</p>
                            <p class="peijiancon_l_t_l_p3">￥198.00</p>
                        </div>
                        <div class="peijiancon_l_t_r fr">
                        	<div class="peijiancon_l_t_r_1">
                            	<p  class="peijiancon_l_t_r_1_t1">OPPO手机官网ACCESSORY 配件</p>
                                <ul class="peijiancon_l_t_r_1_t2 clearfix">
                                	<li>
                                		<a href="#" class="erji"><i></i>
                                    	耳机</a>
                                	</li>
                                    <li>
                                		<a href="#" class="yddy"><i></i>
                                    	移动电源</a>
                                	</li>
                                    <li>
                                		<a href="#" class="erji"><i></i>
                                    	耳机</a>
                                	</li>
                                    <li>
                                		<a href="#" class="erji"><i></i>
                                    	耳机</a>
                                	</li>
                                    <li>
                                		<a href="#" class="erji"><i></i>
                                    	耳机</a>
                                	</li>
                                    <li>
                                		<a href="#" class="erji"><i></i>
                                    	耳机</a>
                                	</li>
                                </ul>
                                <p class="qbpj"><a href="#" class="qbpjcon">全部配件<i></i></a></p>
                            </div>
                            <div class="peijiancon_l_t_r_2">
                            	<a href="#"><img src="img/peijian3.jpg"/></a>
                            	<p class="peijiancon_l_t_r_2_p1">OPPO 原装电源适配器</p>
                           		<p class="peijiancon_l_t_r_2_p2">￥58.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="peijiancon_l_b clearfix">
                    	<a href="#"><img src='img/peijian6.jpg' class="fl"/></a>
                        <div class="fl peijiancon_l_b_pbox">
                            <p class="peijiancon_l_b_p1">告诉传输 信号稳定</p>
                            <p class="peijiancon_l_b_p2">OPPO 原装USB数据线</p>
                            <p class="peijiancon_l_b_p3">￥28.00</p>
                        </div>
                    </div>
                </div>
                <div class="peijiancon_r fr">
                	<div class="peijiancon_r-t clearfix">
                    	<a href="#"><img src="img/peijian2.jpg" class="fl"/></a>
                        <div class="fl peijiancon_r-t_pbox">
                            <p class="peijiancon_r-t_p1">最高直降200元</p>
                            <p class="peijiancon_r-t_p2">手机搭配VOOc闪充配件</p>
                        </div>
                    </div>
                    <div class="peijiancon_l_t clearfix">
                    	<div class="peijiancon_l_t_l fl">
                        	<a href="#"><img src="img/peijian1.jpg"/></a>
                            <p class="peijiancon_l_t_l_p1">可触摸视窗 世界触手可及</p>
                            <p class="peijiancon_l_t_l_p2">OPPO Find7 视窗保护皮套</p>
                            <p class="peijiancon_l_t_l_p3">￥198.00</p>
                        </div>
                        <div class="peijiancon_l_t_r fr">
                        	<div class="peijiancon_l_t_r_1">
                            	<p  class="peijiancon_l_t_r_1_t1">OPPO手机官网ACCESSORY 配件</p>
                                <ul class="peijiancon_l_t_r_1_t2 clearfix">
                                	<li>
                                		<a href="#" class="erji"><i></i>
                                    	耳机</a>
                                	</li>
                                    <li>
                                		<a href="#" class="yddy"><i></i>
                                    	移动电源</a>
                                	</li>
                                    <li>
                                		<a href="#" class="erji"><i></i>
                                    	耳机</a>
                                	</li>
                                    <li>
                                		<a href="#" class="erji"><i></i>
                                    	耳机</a>
                                	</li>
                                    <li>
                                		<a href="#" class="erji"><i></i>
                                    	耳机</a>
                                	</li>
                                    <li>
                                		<a href="#" class="erji"><i></i>
                                    	耳机</a>
                                	</li>
                                </ul>
                                <p class="qbpj"><a href="#" class="qbpjcon">全部配件<i></i></a></p>
                            </div>
                            <div class="peijiancon_l_t_r_2">
                            	<a href="#"><img src="img/peijian3.jpg"/></a>
                            	<p class="peijiancon_l_t_r_2_p1">OPPO 原装电源适配器</p>
                           		<p class="peijiancon_l_t_r_2_p2">￥58.00</p>
                            </div>
                        </div>
                    </div>
                	
                </div>
                
            </div>
        </div>
    </div>
    <div class="tsbox">
    	<div class="ts">
        	<div class="tsimg"><a href="#"></a></div>
            <div class="clearfix">
            	<div class="ts_lbox fl">
            		<ul class="clearfix ts_l">
            			<li>
                			<a a href="#">
                    			<p class="ts_lp1">分期付款</p>
                        		<p class="ts_lp2">更快捷 更方便</p>
                        		<img src="img/ts2.jpg"/>
                    		</a>
               			</li>
                		<li>
                			<a a href="#">
                    			<p class="ts_lp1">分期付款</p>
                        		<p class="ts_lp2">更快捷 更方便</p>
                        		<img src="img/ts2.jpg"/>
                    		</a>
               			</li>
                        <li>
                			<a a href="#">
                    			<p class="ts_lp1">分期付款</p>
                        		<p class="ts_lp2">更快捷 更方便</p>
                        		<img src="img/ts2.jpg"/>
                    		</a>
               			</li>
                        <li>
                			<a a href="#">
                    			<p class="ts_lp1">分期付款</p>
                        		<p class="ts_lp2">更快捷 更方便</p>
                        		<img src="img/ts2.jpg"/>
                    		</a>
               			</li>
            		</ul>
           		</div>
           	<div class="ts-r fr">
            	<div class="clearfix hotbox">
    				<p class="fl"><a href="#" class="hot1">新闻</a></p>
        			<p class="fl"><a href="#" class="hot2">微博</a></p>
				</div>
                <a  href="#" class="hotcon clearfix">
                	<img src="img/hot1.jpg" class="fl"/>
                    <p class="hotconp fl">OPPO N1入选英国《stuff》杂志年度TOP 10</p>
                </a>
                <a  href="#" class="hotcon clearfix">
                	<img src="img/hot1.jpg" class="fl"/>
                    <p class="hotconp fl">OPPO N1入选英国《stuff》杂志年度TOP 10</p>
                </a>
                <a  href="#" class="hotcon clearfix">
                	<img src="img/hot1.jpg" class="fl"/>
                    <p class="hotconp fl">OPPO N1入选英国《stuff》杂志年度TOP 10</p>
                </a>
                <a  href="#" class="hotcon clearfix">
                	<img src="img/hot1.jpg" class="fl"/>
                    <p class="hotconp fl">OPPO N1入选英国《stuff》杂志年度TOP 10</p>
                </a>
           	</div>
           </div>
        </div>
    </div>
    <div class="foot1">
    	<div class="foot1conbox">
        	<ul class="foot1con clearfix">
        		<li >
            		<i class="foot1con_img"></i>
            		<p class="foot1con_p1">正品保障</p>
                	<p class="foot1con_p2">所有的产品都是原装正品</p>
            	</li>
                <li >
            		<i class="foot1con_img"></i>
            		<p class="foot1con_p1">正品保障</p>
                	<p class="foot1con_p2">所有的产品都是原装正品</p>
            	</li>
                <li >
            		<i class="foot1con_img"></i>
            		<p class="foot1con_p1">正品保障</p>
                	<p class="foot1con_p2">所有的产品都是原装正品</p>
            	</li>
                <li >
            		<i class="foot1con_img"></i>
            		<p class="foot1con_p1">正品保障</p>
                	<p class="foot1con_p2">所有的产品都是原装正品</p>
            	</li>
                <li >
            		<i class="foot1con_img"></i>
            		<p class="foot1con_p1">正品保障</p>
                	<p class="foot1con_p2">所有的产品都是原装正品</p>
            	</li>
        	</ul>
        </div>
    </div>
    <div class="foot2 clearfix">
    	<ul class="foot2con1 clearfix">
        	<li>
            	<a href="#" class="foot2h4"><h4>关于我们</h4></a>
                <a href="#" class="foot2_con1">关于oppo
                	<i class="foot2_img1"></i>
                </a>
                <a href="#" class="foot2_con1">新闻中心
                	<i class="foot2_img1"></i>
                </a>
                <a href="#" class="foot2_con1">人才招聘
                	<i class="foot2_img1"></i>
                </a>
            </li>
            <li>
            	<a href="#" class="foot2h4"><h4>购物相关</h4></a>
                <a href="#" class="foot2_con1">帮助中心
                	<i class="foot2_img1"></i>
                </a>
                <a href="#" class="foot2_con1">周边产品
                	<i class="foot2_img1"></i>
                </a>
                <a href="#" class="foot2_con1">oppo体验店
                	<i class="foot2_img1"></i>
                </a>
                <a href="#" class="foot2_con1">客户服务政策
                	<i class="foot2_img1"></i>
                </a>
            </li>
            <li>
            	<a href="#" class="foot2h4"><h4>关于我们</h4></a>
                <a href="#" class="foot2_con1">关于oppo
                	<i class="foot2_img1"></i>
                </a>
                <a href="#" class="foot2_con1">新闻中心
                	<i class="foot2_img1"></i>
                </a>
                <a href="#" class="foot2_con1">人才招聘
                	<i class="foot2_img1"></i>
                </a>
            </li>
            <li>
            	<a href="#" class="foot2h4"><h4>购物相关</h4></a>
                <a href="#" class="foot2_con1">帮助中心
                	<i class="foot2_img1"></i>
                </a>
                <a href="#" class="foot2_con1">周边产品
                	<i class="foot2_img1"></i>
                </a>
                <a href="#" class="foot2_con1">oppo体验店
                	<i class="foot2_img1"></i>
                </a>
                <a href="#" class="foot2_con1">客户服务政策
                	<i class="foot2_img1"></i>
                </a>
            </li>
            <li>
            	<a href="#" class="foot2h4"><h4>购物相关</h4></a>
                <a href="#" class="foot2_con1">帮助中心
                	<i class="foot2_img1"></i>
                </a>
                <a href="#" class="foot2_con1">周边产品
                	<i class="foot2_img1"></i>
                </a>
                <a href="#" class="foot2_con1">oppo体验店
                	<i class="foot2_img1"></i>
                </a>
                <a href="#" class="foot2_con1">客户服务政策
                	<i class="foot2_img1"></i>
                </a>
            </li>
            <li class="foot2con2">
            	<h3>联系我们</h3>
            	<div class="foot2con2-t">
            		<p class="foot2con2-t1">4001-666-888</p>
                	<p class="foot2con2-t2">7*24小时客服电话</p>
                	<i class="foot2con2img1"></i>
            	</div>
                <div  class="foot2con2-t">
            		<p class="foot2con2-t3">在线客服
                		<i class="foot2con2img3"></i>
                    </p>
                	<p class="foot2con2-t2">服务时段：8:30-22:00</p>
                	<i class="foot2con2img2"></i>
            	</div>
            </li>
        </ul>
    </div>
    <div class="foot3">
    	<div class="foot3con clearfix">
        	<h2 class="logo2 fl"></h2>
            <p class="foot3con1 fl">2005-2015 东莞市永胜通信科技有限公司 版权所有（粤ICP备 08130115 号）
            	<i class="foot3img1"></i>
            </p>
            <ul class="fr foot3con2">
             	<li>
                 	<a href="#">版权说明</a>
                </li>
                <li>
                 	<a href="#">使用协议</a>
                </li>
                <li>
                 	<a href="#">网站地图</a>
                </li>
                <li>
                 	<a href="#">友情链接</a>
                </li>
                <li class="foot3con2last">
                 	<a href="#">联系我们</a>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>
