<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱奇艺娱乐部分</title>
<link rel="stylesheet" href="css/base.css"/>
<link rel="stylesheet" href="css/style.css"/>
<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<script>
	DD_belatedPNG.fix('*');
</script>
<![endif]-->
</head>

<body>
	<div class="head1box">
    	<div class="clearfix head1">
        	<form action="http://www.aiqiyi.com" method="get" class="fl">
    			<input type="text" class="headtxt fl"  placeholder="纪念抗战胜利70周年"/>
        		<input type="submit" class="headbtn fl" value="" />
             </form>
             <p class="shangchuan fl">
                    <a href="#" class="shangchuanbox">上传视频</a>
                    <i></i>
              </p>
            <ul class="fl headbar">
            	<li><a href="#">登陆</a></li>
                <li><a href="#">注册</a></li>
                <li><a href="#">开通VIP</a></li>
                <li><a href="#" class="headjiao1">消息</a></li>
                <li><a href="#" class="headjiao2">播放记录</a></li>
            </ul>
         </div>
         <div class="head2 clearfix">
         	<ul class="fr">
            	<li><a href="#">纪念抗战胜利70周年文艺晚会</a></li>
                <li><a href="#">奇葩说：袁姗姗荣登代理团长</a></li>
                <li><a href="#">四十九日祭：剧版金陵十三钗</a></li>
                <li><a href="#">李易峰48小时神秘失踪大曝光</a></li>
                <li><a href="#">后宫那些事：宫廷荒诞断案剧</a></li>
                <li><a href="#">康熙：男明星好感度大调查</a></li>
                <li><a href="#">神剧亮了：史上最炮灰小龙女</a></li>
                <li><a href="#">银河护卫队：逗比英雄大赞歌</a></li>
                <li><a href="#">跑男：金宇彬任性弃颜值</a></li>
                <li class="head2last"><a href="#">亲爱的 郝蕾带您走进魔幻厨房</a></li>
            </ul>
            <i></i>
         </div>
        
    </div>
    <div class="h_box2"> 
        <div class="h_black clearfix">
            <div class="logoer">
                <a href="#" class="logo2"><img src="img/h_logo2.png" /></a>
                <a href="#" class="logo3"><img src="img/h_logo3.png" /></a>
            </div>  
            <ul class="list1">
                <li><a href="#">娱乐</a></li>
                <li><a href="#">体育</a></li>
                <li><a href="#">资讯</a></li>
                <i></i>
            </ul>
            <ul class="list2">
                <li>
                    <a href="#" class="l">电影</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">电视剧</a>
                </li>
                <li>
                    <a href="#" class="l">片花</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">综艺</a>
                </li>
                <li>
                    <a href="#" class="l">微电影</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#"><em></em>脱口秀</a>
                </li>
                <i></i>
            </ul>
            <ul class="list3">
                <li>
                    <a href="#" class="l">动漫</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">生活</a>
                </li>
                <li>
                    <a href="#" class="l">少儿</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">母婴</a>
                </li>
                <li>
                    <a href="#" class="l">游戏</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">教育</a>
                </li>
                <i></i>
            </ul>
            <ul class="list3">
                <li>
                    <a href="#" class="l">音乐</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">搞笑</a>
                </li>
                <li>
                    <a href="#" class="l">时尚</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">原创</a>
                </li>
                <li>
                    <a href="#" class="l">旅游</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">拍客</a>
                </li>
                <i></i>
            </ul>
            <ul class="list3 list4">
                <li>
                    <a href="#" class="l">财经</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">军事</a>
                </li>
                <li>
                    <a href="#" class="l">科技</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">广告</a>
                </li>
                <li>
                    <a href="#" class="l">汽车</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">纪录片</a>
                </li>
                <i></i>
            </ul>
            <ul class="list3 list5">
                <li>
                    <a href="#" class="l2">风云榜</a>
                    <a href="#">特色频道</a>
                </li>
                <li>
                    <a href="#" class="l2">影视大全</a>
                    <a href="#">爱奇艺出品</a>
                </li>
                <li>
                    <a href="#" class="l2">爱奇艺搜索</a>
                </li>
                <i></i>
            </ul>
            <ul class="list3">
                <li>
                    <a href="#" class="l3">游戏中心</a>
                    <a href="#">VIP会员</a>
                </li>
                <li>
                    <a href="#" class="l4">应用商店<em class="d2"></em></a>
                    <a href="#">个人中心</a>
                </li>
                <li>
                    <a href="#" class="l4">爱奇艺商城<em class="d3"></em></a>
                    <a href="#">开放平台</a>
                </li>
            </ul>
              
        </div>
    </div>
    <div class="j_cont clearfix">
        <div class="j_left fl">
           <div class="j_left_t clearfix">
               <h3><a href="#">今日焦点</a></h3>
               <a href="#" class="more">更多&gt;</a>
               <a href="#" class="last"><i></i>独播</a>
           </div>
               <h2><a href="#">中央军委原副主席郭伯雄被开除党籍</a></h2>
              <ul class="j_box">
                    <li class="clearfix">
                        <i class="fl"></i><a href="#" class="num1 fl"> 北京申办2022年冬奥会陈述回放 </a> 
                        <a href="#" class="num2 fl">结果傍晚揭晓 </a>
                    </li>
                    <li class="clearfix">
                        <i class="fl"></i><a href="#" class="num1 fl">  疑似MH370残骸送法国鉴别   </a> 
                        <a href="#" class="num2 fl">附近发现行李箱残片 </a>
                    </li>
                    <li class="clearfix">
                        <i class="fl"></i><a href="#" class="num1 fl"> 释永信将赴泰展演功夫  </a> 
                        <a href="#" class="num2 fl">举报者称其有潜逃嫌疑 </a>
                    </li>
                    <li class="clearfix">
                        <i class="fl"></i><a href="#" class="num1 fl"> 越南国家主席致辞现场响起中国歌曲《歌唱祖国》 </a> 
                    </li>
                    <li class="clearfix">
                        <i class="fl"></i><a href="#" class="num1 fl">  小伙嫌女友太懒报警求分手  </a> 
                        <a href="#" class="num2 fl">男子哄女友扇晕自己  </a>
                    </li>
                    <li class="clearfix">
                        <i class="fl"></i><a href="#" class="num1 fl">  小伙2分钟吃24碗面  </a> 
                        <a href="#" class="num2 fl"> 母獾偷喝7瓶啤酒醉倒 </a>
                    </li>
              </ul>
              <div class="j_left_d clearfix">
                    <div class="j_left_l fl">
                        <a href="#"><img src="img/j_car.jpg"/></a>
                        <p><a href="#">牛人冲浪板上玩双人体操</a></p>
                    </div>
                    <div class="j_left_r fr">
                    <a href="#"><img src="img/pic1.jpg"/></a>
                        <p><a href="#">记者以为停止录影激情热舞</a></p>
                    </div>
              </div>
        </div>
        <div class="j_middle fl">
           <div class="j_middle_t">
                 <a href="#"><img src="img/pic2.jpg"/></a>
                 <div class="opa"></div>
                 <p class="clearfix"><em><i></i></em><a href="#">名侦探柯南</a></p>
             </div>
             <ul class="j_box">
                    <li class="clearfix">
                        <i class="fl"></i><a href="#" class="num1 fl">《极限挑战》陈柏霖绑架黄渤 </a> 
                        <a href="#" class="num2 fl"> 陶喆否认再出轨</a>
                    </li>
                    <li class="clearfix">
                        <i class="fl"></i><a href="#" class="num1 fl">   林志炫加盟《偶滴歌神啊》  </a> 
                        <a href="#" class="num2 fl">滕华涛斥王珞丹炒作 </a>
                    </li>
                    <li class="clearfix">
                        <i class="fl"></i><a href="#" class="num1 fl">  周杰伦为TFBOYS操刀单曲  </a> 
                        <a href="#" class="num2 fl">张柏芝穿着火辣引围观 </a>
                    </li>
                    <li class="clearfix">
                        <i class="fl"></i><a href="#" class="num1 fl">  中华牙膏超模24小时   </a> 
                         <a href="#" class="num2 fl"> 康宝莱奔跑卡路里 </a>
                    </li>
                    <li class="clearfix">
                        <i class="fl"></i><a href="#" class="num1 fl">  小伙2分钟吃24碗面  </a> 
                        <a href="#" class="num2 fl"> 母獾偷喝7瓶啤酒醉倒 </a>
                    </li>
              </ul>
        </div>
        <div class="j_right  fl">
             <div class="j_right_t fl">
                        <a href="#"><img src="img/pic3.png"/></a>
                        <p><a href="#">最in韩国大赏</a></p>
                    </div>
             <div class="j_right_t fl">
                        <a href="#"><img src="img/pic4.jpg"/></a>
                        <p><a href="#">孩子你在哪儿？</a></p>
                    </div>
             <div class="j_right_t fl">
                        <a href="#"><img src="img/pic5.jpg"/></a>
                        <p><a href="#">美剧最强回归</a></p>
                    </div>
        </div>
    </div>
	<div class="yule">
    	<div class="clearfix yulecon1">
            <h4 class="fl yulecon1-l1">娱乐<i class="yulecon1-l1img"></i></h4>
            <a href="#" class="fl yulecon1-l2">更多&gt;</a>
            <ul class="fl yulecon1-l3">
            	<li class="fl">
                	<a href="#">爱奇艺早班机&nbsp;</a>
                    <span>/</span>
                </li>
                <li class="fl">
                	<a href="#">超能大星探&nbsp;</a>
                    <span>/</span>
                </li>
                <li class="fl">
                	<a href="#">帕帕帮&nbsp;</a>
                    <span>/</span>
                </li>
                <li class="fl">
                	<a href="#">泡菜帮&nbsp;</a>
                    <span>/</span>
                </li>
                <li class="fl">
                	<a href="#">娱乐猛回头&nbsp;</a>
                    <span>/</span>
                </li>
                <li class="fl">
                	<a href="#">爱奇艺音乐榜&nbsp;</a>
                    <span>/</span>
                </li>
            </ul>
            <i class="fr yulecon1-l4"></i>
        </div>
        <div class="clearfix yulecon2">
        	<div class="fl yulecon2-l1">
                <a href="#">
                    	<img class="yulecon2-l2" src="img/yu2.jpg"/>
                        <div class="yulecon2-l3">
                        	<p class="yulecon2-l4">鹿晗调停失败 揭韩娱明星频退团内幕</p>
                       		<p class="yulecon2-l5">昨天，鹿晗与老东家SM公司解约事件终于迎来首次调停。但据悉SM公司并没有同意。</p>
                        </div>
                </a>
                <div  class="yulecon2-l10">
                	<div  class="yulecon2-l7"></div>
                    <p  class="yulecon2-l6">11:59</p>
                </div>
                <i  class="yulecon2-l8"></i>
                <i  class="yulecon2-l9"></i>
            </div>
            <ul class="fl clearfix yulecon2-r">
            	<li  class="fl yulecon2-r1 yulecon2-rm">
                	<a href="#">
                    	<img class="yulecon2-r2"src="img/yu3.jpg"/>
                        <p class="yulecon2-r3">《何以笙箫默》爆赵默笙宣传片唐嫣感恩</p>
                     </a>
                     <div  class="yulecon2-r4">
                    	<div class="yulecon2-r5"></div>
                    	<p class="yulecon2-r6">02:14</p>
                    </div>
                </li>
                <li  class="fl yulecon2-r1 yulecon2-rm">
                	<a href="#">
                    	<img class="yulecon2-r2"src="img/yu3.jpg"/>
                        <p class="yulecon2-r3">《何以笙箫默》爆赵默笙宣传片唐嫣感恩</p>
                     </a>
                     <div  class="yulecon2-r4">
                    	<div class="yulecon2-r5"></div>
                    	<p class="yulecon2-r6">02:14</p>
                    </div>
                    <i  class="yulecon2-r9"></i>
                </li>
                <li  class="fl yulecon2-r7 yulecon2-rm">
                	<a href="#">
                    	<img class="yulecon2-r2"src="img/yu3.jpg"/>
                        <p class="yulecon2-r3">《何以笙箫默》爆赵默笙宣传片唐嫣感恩</p>
                     </a>
                     <div  class="yulecon2-r4">
                    	<div class="yulecon2-r5"></div>
                    	<p class="yulecon2-r6">02:14</p>
                    </div>
                    <div class="yulecon2-r8">专题</div>
                </li>
                <li  class="fl yulecon2-r1">
                	<a href="#">
                    	<img class="yulecon2-r2"src="img/yu3.jpg"/>
                        <p class="yulecon2-r3">《何以笙箫默》爆赵默笙宣传片唐嫣感恩</p>
                     </a>
                     <div  class="yulecon2-r4">
                    	<div class="yulecon2-r5"></div>
                    	<p class="yulecon2-r6">02:14</p>
                    </div>
                </li>
                <li  class="fl yulecon2-r1">
                	<a href="#">
                    	<img class="yulecon2-r2"src="img/yu3.jpg"/>
                        <p class="yulecon2-r3">《何以笙箫默》爆赵默笙宣传片唐嫣感恩</p>
                     </a>
                     <div  class="yulecon2-r4">
                    	<div class="yulecon2-r5"></div>
                    	<p class="yulecon2-r6">02:14</p>
                    </div>
                </li>
                <li  class="fl yulecon2-r7">
                	<a href="#">
                    	<img class="yulecon2-r2"src="img/yu3.jpg"/>
                        <p class="yulecon2-r3">《何以笙箫默》爆赵默笙宣传片唐嫣感恩</p>
                     </a>
                     <div  class="yulecon2-r4">
                    	<div class="yulecon2-r5"></div>
                    	<p class="yulecon2-r6">02:14</p>
                    </div>
                    <div class="yulecon2-r8">专题</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="pindaobox">
    	<ul class="pindao clearfix">
        	<li>
            	<div class="zhaoliying">
                	<a href="#">
                    <img src="img/pps.jpg"/>
                    </a>
                    <div class="zhaoliyingopa">
                    	<div class="zhaoliyingopaback"></div>
                    	<p class="zhaoliyingopacon">影视改编 赵丽颖代言</p>
                    </div>
                </div>
                <a href="#" class="zimu">PPS游戏<span>更多&gt;</span></a>
            </li>
            <li>
            	<div class="zhaoliying">
                	<a href="#">
                    <img src="img/pps.jpg"/>
                    </a>
                    <div class="zhaoliyingopa">
                    	<div class="zhaoliyingopaback"></div>
                    	<p class="zhaoliyingopacon">影视改编 赵丽颖代言</p>
                    </div>
                </div>
                <a href="#" class="zimu">PPS游戏<span>更多&gt;</span></a>
            </li>
            <li>
            	<div class="zhaoliying">
                	<a href="#">
                    <img src="img/pps.jpg"/>
                    </a>
                    <div class="zhaoliyingopa">
                    	<div class="zhaoliyingopaback"></div>
                    	<p class="zhaoliyingopacon">影视改编 赵丽颖代言</p>
                    </div>
                </div>
                <a href="#" class="zimu">PPS游戏<span>更多&gt;</span></a>
            </li>
            <li>
            	<div class="zhaoliying">
                	<a href="#">
                    <img src="img/pps.jpg"/>
                    </a>
                    <div class="zhaoliyingopa">
                    	<div class="zhaoliyingopaback"></div>
                    	<p class="zhaoliyingopacon">影视改编 赵丽颖代言</p>
                    </div>
                </div>
                <a href="#" class="zimu">PPS游戏<span>更多&gt;</span></a>
            </li>
            <li>
            	<div class="zhaoliying">
                	<a href="#">
                    <img src="img/pps.jpg"/>
                    </a>
                    <div class="zhaoliyingopa">
                    	<div class="zhaoliyingopaback"></div>
                    	<p class="zhaoliyingopacon">影视改编 赵丽颖代言</p>
                    </div>
                </div>
                <a href="#" class="zimu">PPS游戏<span>更多&gt;</span></a>
            </li>
        </ul>
    </div>
    <div class="foot1 clearfix">
    	<div class="foot1con_l fl">
        	<h3>合作伙伴<a href="#">更多&gt;</a></h3>
            <ul class="clearfix foot1con_l_t">
            	<li><a href="#">华影公司</a></li>
                <li><a href="#">万达电影网</a></li>
                <li><a href="#">华谊兄弟</a></li>
                <li><a href="#">星美</a></li>
                <li><a href="#">光线影业</a></li>
                <li><a href="#">电影网</a></li>
                <li><a href="#">华策影视</a></li>
                <li><a href="#">百老汇</a></li>
                <li><a href="#">百度视频</a></li>
                <li><a href="#">百度百科</a></li>
                <li><a href="#">hao123</a></li>
                <li><a href="#">百度V计划</a></li>
                <li><a href="#">央广视频</a></li>
                <li><a href="#">华录百纳</a></li> 
                <li><a href="#">百度贴吧</a></li>
                <li><a href="#">爱奇艺天猫店</a></li>           
            </ul>
        </div>
        <div class="foot1con_r fl">
        	<h3>爱奇艺动态<a href="#">更多&gt;</a></h3>
            <ul class="clearfix foot1con_r_t">
            	<li><a href="#">爱奇艺获小米、百度战略投资</a></li>
                <li><a href="#">爱奇艺与杜比合作战略深化</a></li>
                <li><a href="#">7月视频市场 爱奇艺稳居冠军</a></li>
                <li><a href="#">爱奇艺、华策影视公司成立合资公司</a></li>
                <li><a href="#">移动视频期中盘点</a></li>
                <li><a href="#">爱奇艺拉开2015年视频营销会大幕</a></li>          
            </ul>
        </div>
    </div>
    <div class="foot2box">
    	<div class="foot2">
        	<ul class="clearfix foot2_t">
            	<li class="foot2_t_first"><a href="#">应用商店</a></li>
                <li><a href="#">公司介绍</a></li>
                <li><a href="#">新闻动态</a></li>
                <li><a href="#">联系方式</a></li>
                <li><a href="#">招聘英才</a></li>
                <li><a href="#">开放平台</a></li>
                <li><a href="#">帮助与反馈</a></li>
                <li class="foot2_t_last"><a href="#">About Us</a></li>
            </ul>
            <p class="foot2_m1">违法和不良信息举报电话：400-800-7171<span>举报邮箱：jubao365@qiyi.com</span></p>
            <p class="foot2_m2">
          		<i></i>
              中国互联网诚信联盟<span class="foot2_m2-1">京网文【2012】0484-158号</span>互联网违法和不良信息举报中心<span class="foot2_m2-2">信息网络传播视听节目许可证 0110544号</span>广播电视节目制作经营许可证（京）字第1938号</p>
            <p class="foot2_m3">
         		<i></i>
         		经营性网站备案信息<span class="foot2_m3-1">京ICP证110636号</span>京公网安备 1101082010263号<span class="foot2_m3-2">增值电信业务经营许可证B2-20120273</span>互联网药品信息服务资格证书（京）经营性-2013-0012</p>
            <p class="foot2_b">Copyright &copy; 2014 爱奇艺 All Rights Reserved</p>
        </div>
    </div>
</body>
</html>
