<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>婚纱摄影</title>
<link rel="stylesheet" href="css/base.css"/>
<link rel="stylesheet" href="css/style.css"/>
</head>

<body>
	<a href="#" class="fixed"></a>
	<div class="header">
    	<div class="headtop">
        	<div class="headtopcon clearfix">
         		<div class="headtopcon-l fl">
                		<div class="box">
							<i class="l"></i>
							中国十大杰出影楼
							<i class="r"></i>
						</div>
                        <h1><a href="#" class="headtopcon-la">蒙娜丽莎</a></h1>
                </div>
                <i class="headtopcon-r fl"></i>
            </div>
        </div>
        <div class="headconback">
        	<div class="headcon clearfix">
            	<ul class="headconnav fl clearfix
                ">
                	<li><a href="#" class="headconnavfirst">首页</a></li>
                    <li><a href="#" >影楼报价</a></li>
                    <li><a href="#" >作品展示</a></li>
                    <li><a href="#" >场馆介绍</a></li>
                    <li><a href="#" >客片欣赏</a></li>
                    <li><a href="#" >积分商场</a></li>
                    <li><a href="#" >官方汇款</a></li>
                    <li><a href="#" >网络预约</a></li>
                    <li><a href="#" >官方微博</a></li>
                </ul>
                <a href="#"  class="shoucangbox fr">
					<i class="l"></i>
					收藏
					<i class="r"></i>
				</a>
            </div>
        </div>
	</div>
    <div class="content">
    	<div class="conbanback">
        </div>
        <div class="conbanback-bottom">
        </div>
        <div class="concolumn">
        	<ul class="concolumnlist clearfix">
            	<li><a href="#" ></a></li>
                <li><a href="#" ></a></li>
                <li><a href="#" ></a></li>
                <li><a href="#" ></a></li>
            </ul>
         	<ul class="msg clearfix">
            	<li class="messgage"></li>
                <li class="adress"></li>
                <li class="QQ"></li>
            </ul>
            <ul class="guid clearfix">
            	<li><a href="#" class="guid1"></a></li>
                <li><a href="#" class="guid2"></a></li>
                <li><a href="#" class="guid3"></a></li>
            </ul>
            <a class="banner"></a>
            <div class="clearfix enues">
            	<i class="fl enuesi"></i>
                <ul class="fr enuescon">
                	<li><a href="#" class="enuescon1 enuescon1first">北京</a></li>
                    <li><a href="#" class="enuescon1">洛阳</a></li>
                    <li><a href="#" class="enuescon1">西安</a></li>
                    <li><a href="#" class="enuescon1">唐山</a></li>
                </ul>
                <p class="border"></p>
            </div>
            <div class="clearfix enuesconbox">
                	<div class="fl enuescon2">
                     	<a href="#"><img src="img/2014-11-01-17-36-10.jpg"/></a>
                        <a href="#"><i class="enuesimg1"></i></a>
                        <a href="#"><i class="enuesimg2"></i></a>
                        <i class="enuesimg3"></i>
                        <div class="opa"></div>
           				<p class="opap" >场馆包馆</p>
                    </div>
                    <ul class="fl enuescon3 clearfix ">
                        <li><a href="#">
                				<img src="img/2014-11-01-17-26-23.jpg" class="usetimg"/>
                    			<p class="usetimgname">洛丽塔</p>
                    			<i></i>
                   			 </a>
                		</li>
                        <li><a href="#">
                				<img src="img/2014-11-01-17-26-23.jpg" class="usetimg"/>
                    			<p class="usetimgname">洛丽塔</p>
                    			<i></i>
                   			 </a>
                		</li>
                        <li class="enuescon4"><a href="#">
                				<img src="img/2014-11-01-17-26-23.jpg" class="usetimg"/>
                    			<p class="usetimgname">洛丽塔</p>
                    			<i></i>
                   			 </a>
                		</li>
                        <li class="enuescon4"><a href="#">
                				<img src="img/2014-11-01-17-26-23.jpg" class="usetimg"/>
                    			<p class="usetimgname">洛丽塔</p>
                    			<i></i>
                   			 </a>
                		</li>
                    </ul>
                </div>
            <div class="clearfix enues">
            	<i class="fl useti"></i>
                <ul class="fr enuescon">
                	<li><a href="#" class="enuescon1 enuescon1first">北京</a></li>
                    <li><a href="#" class="enuescon1">洛阳</a></li>
                    <li><a href="#" class="enuescon1">西安</a></li>
                    <li><a href="#" class="enuescon1">唐山</a></li>
                </ul>
                <p class="border"></p>
            </div> 
            <ul class="uset clearfix">
            	<li><a href="#">
                		<img src="img/hunsha.jpg" class="usetimg"/>
                    	<p class="customer">客片</p>
                   		<i></i>
                    </a>
                </li>
                <li><a href="#">
                		<img src="img/hunsha.jpg" class="usetimg"/>
                    	<p class="customer">客片</p>
                    	<i></i>
                    </a>
                </li>
                <li><a href="#">
                		<img src="img/hunsha.jpg" class="usetimg"/>
                    	<p class="customer">客片</p>
                    	<i></i>
                    </a>
                </li>
                <li class="usetright"><a href="#">
                		<img src="img/hunsha.jpg" class="usetimg"/>
                   	    <p class="customer">客片</p>
                   	   <i></i>
                    </a>
                </li>
            	<li><a href="#">
                		<img src="img/hunsha.jpg" class="usetimg"/>
                    	<p class="customer">客片</p>
                   		<i></i>
                    </a>
                </li>
                <li><a href="#">
                		<img src="img/hunsha.jpg" class="usetimg"/>
                    	<p class="customer">客片</p>
                    	<i></i>
                    </a>
                </li>
                <li><a href="#">
                		<img src="img/hunsha.jpg" class="usetimg"/>
                    	<p class="customer">客片</p>
                    	<i></i>
                    </a>
                </li>
                <li class="usetright"><a href="#">
                		<img src="img/hunsha.jpg" class="usetimg"/>
                   	    <p class="customer">客片</p>
                   	   <i></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix enues">
            	<i class="fl ervicei"></i>
                <a href="#"class="fr ervicep">&gt;&gt;更多报价</a>
                <p class="border"></p>
            </div> 
            <div class="clearfix service">
             	<div class="fl servicecon">
                	<img class="servicecon-t-img" src="img/ser.jpg"/>
                    <div class="clearfix servicecon-t-price">
                    	<p class="fl servicecon-t-price1">原价26666，网络特惠价10999</p>
                    	<p class="fr servicecon-t-price2">RMB:10999</p>
                    </div>
                    <i class="serviceconi"></i>
                 </div>
                <div class="fl servicecon-t-txt">
                 	<h4 class="servicecon-t-txt1">蒙娜丽莎“克里斯汀会所”</h4>
                    <p class="servicecon-t-txt2">1995年，中国和新家坡金妮影像合力打造的蒙娜丽莎在西安创立，凭借专业先进的摄影技术和贴心周到的服务，孕育出“美丽感动一生”的企业文化，成为婚纱摄影行业的领航者。短...<br/>1995年，中国和新家坡金妮影像合力打造的蒙娜丽莎在西安创立，凭借专业先进的摄影技术和贴心周到的服务，孕育出“美丽感动一生”的企业文化，成为婚纱摄影行业的领航者。短...<br/>	1995年，中国和新家坡金妮影像合力打造的蒙娜丽莎在西安创立，凭借专业先进的摄影技术和贴心周到的服务，孕育出“美丽感动一生”的企业文化，成为婚纱摄影行业的领航者。短短几天感受到的服务，孕育出的服务，孕育出“美丽感动一生”的企业文化，成为婚纱摄影行业的领航者。
                    	<a class="servicecon-t-txt3" href="#">&gt;&gt;详情介绍</a>												
                    </p> 
                 </div> 
             </div>
            <div class="service-b-box">
             	<ul class="service-b clearfix">
                	
             		<li class="fl servicecon service-b-l">
                		<img class="servicecon-t-img" src="img/ser.jpg"/>
                   		<div class="clearfix servicecon-t-price">
                    		<p class="fl servicecon-t-price1">原价26666，网络特惠价10999</p>
                    		<p class="fr servicecon-t-price2">RMB:10999</p>
                   		 </div>
                         <a href="#"></a>
                    	<i class="serviceconi"></i>
                        
                	</li></a>
                     <a href="#">
                    <li class="fl servicecon service-b-l">
                		<img class="servicecon-t-img" src="img/ser.jpg"/>
                   		<div class="clearfix servicecon-t-price">
                    		<p class="fl servicecon-t-price1">原价26666，网络特惠价10999</p>
                    		<p class="fr servicecon-t-price2">RMB:10999</p>
                   		 </div>
                    	<i class="serviceconi"></i>
                	</li></a>
                    <a href="#">
                    <li class="fl servicecon service-b-l">
                		<img class="servicecon-t-img" src="img/ser.jpg"/>
                   		<div class="clearfix servicecon-t-price">
                    		<p class="fl servicecon-t-price1">原价26666，网络特惠价10999</p>
                    		<p class="fr servicecon-t-price2">RMB:10999</p>
                   		 </div>
                    	<i class="serviceconi"></i>
                	</li></a>
            	 </ul>
             </div>
            <div class="clearfix jifen">
            	<i class="fl jifenimg"></i>
                <i class="fl weiboimg"></i>
                <i class="fl fuwuimg"></i>
                <p class="border"></p>
            </div> 
            <div class="jifencon clearfix">
            	<div class="jifenconl fl"> 
            		<ul class="jifenconl-1 clearfix">
                		<li class="fl jifenconl-1-t">
                    		<img  src="img/2013-06-06-16-44-48.jpg"/>
                       		<p>飞利浦（philips）HD745飞利浦（philips）HD745</p>
                   		</li>
                        <li class="fl  jifenconl-1-t">
                    		<img  src="img/2013-06-06-16-44-48.jpg"/>
                       		<p>飞利浦（philips）HD745飞利浦（philips）HD745</p>
                   		</li>
                        <li class="fl  jifenconl-1-t">
                    		<img  src="img/2013-06-06-16-44-48.jpg"/>
                       		<p>飞利浦（philips）HD745飞利浦（philips）HD745</p>
                   		</li>
                        <li class="fl">
                    		<img  src="img/2013-06-06-16-44-48.jpg"/>
                       		<p>飞利浦（philips）HD745飞利浦（philips）HD745</p>
                   		</li>
                        <li class="fl">
                    		<img  src="img/2013-06-06-16-44-48.jpg"/>
                       		<p>飞利浦（philips）HD745飞利浦（philips）HD745</p>
                   		</li>
                        <li class="fl">
                    		<img  src="img/2013-06-06-16-44-48.jpg"/>
                       		<p>飞利浦（philips）HD745飞利浦（philips）HD745</p>
                   		</li>
                	</ul>
            	</div>
                <div class="jifenconm fl">
                	<div class="clearfix jifenconm-t">
                     	<i class="fl jifenconm-t-1"></i>
                        <div class="jifenconm-t-2 fl">
                        	<h5>北京蒙娜丽莎摄影</h5>
                            <div>加关注</div>
                        </div>
                    </div>
                    <div class="jifenconm-m">
                    	<i class="jifenconm-mimg1"></i>
                        <p>
                        	美&nbsp;&nbsp;，如果有朋友需要，我推荐蒙娜丽莎，真的很棒喔
                            <i class="jifenconm-mimg3"></i>
                            <i class="jifenconm-mimg4"></i>
                        </p>
                        <i  class="jifenconm-mimg2"></i>
                    </div>
                    <p class="jifenconm-m2 clearfix">TA的粉丝（126847）<span class="fr">全部&gt;&gt;</span></p>
                    <ul class="jifenconm-b">
                    	<li class="fl">
                        	<img src="img/bei9.jpg"/>
                            <p>晨曦WRTY</p>
                        </li>
                        <li class="fl">
                        	<img src="img/bei9.jpg"/>
                            <p>晨曦WRTY</p>
                        </li>
                        <li class="fl">
                        	<img src="img/bei9.jpg"/>
                            <p>晨曦WRTY</p>
                        </li>
                    </ul>
                </div>
                <ul class="jifenconr fl">
                	<li><a href="#">
                    		<i class="jifenconrimg"></i>
                       		 新郎拍摄婚纱照注意事项
                        </a>
                    </li>
                	<li>
                    	<a href="#">
                    		<i class="jifenconrimg"></i>
                        	北京婚纱摄影小编告诉你拍完婚纱怎么拍摄凸显娴雅美资的韩式婚纱
                        </a>
                    </li> 
                    <li><a href="#">
                    		<i class="jifenconrimg"></i>
                       		 新郎拍摄婚纱照注意事项
                        </a>
                    </li>
                	<li>
                    	<a href="#">
                    		<i class="jifenconrimg"></i>
                        	北京婚纱摄影小编告诉你拍完婚纱怎么拍摄凸显娴雅美资的韩式婚纱
                        </a>
                    </li>
                    <li><a href="#">
                    		<i class="jifenconrimg"></i>
                       		 新郎拍摄婚纱照注意事项
                        </a>
                    </li>
                	<li>
                    	<a href="#">
                    		<i class="jifenconrimg"></i>
                        	北京婚纱摄影小编告诉你拍完婚纱怎么拍摄凸显娴雅美资的韩式婚纱
                        </a>
                    </li>
                    <li><a href="#">
                    		<i class="jifenconrimg"></i>
                       		 新郎拍摄婚纱照注意事项
                        </a>
                    </li>
                	<li>
                    	<a href="#">
                    		<i class="jifenconrimg"></i>
                        	北京婚纱摄影小编告诉你拍完婚纱怎么拍摄凸显娴雅美资的韩式婚纱
                        </a>
                    </li>
                    <li><a href="#">
                    		<i class="jifenconrimg"></i>
                       		 新郎拍摄婚纱照注意事项
                        </a>
                    </li>
                	<li>
                    	<a href="#">
                    		<i class="jifenconrimg"></i>
                        	北京婚纱摄影小编告诉你拍完婚纱怎么拍摄凸显娴雅美资的韩式婚纱
                        </a>
                    </li>
                </ul>
            </div>
             <div class="clearfix frind">
            	<i class="fl frindlinki"></i>
                <a href="#"class="fr frindlink">友情链接QQ:787835815</a>
                <p class="border"></p>
            </div> 
            <div  class="frindbox">
            	<ul class="clearfix">
                	<li><a href="#">北京儿童摄影</a></li>
                    <li><a href="#">北京儿童摄影</a></li>
                    <li><a href="#">北京儿童摄影</a></li>
                    <li><a href="#">北京儿童摄影</a></li>
                    <li><a href="#">北京儿童摄影</a></li>
                    <li><a href="#">北京儿童摄影</a></li>
                    <li><a href="#">北京儿童摄影</a></li>
                    <li><a href="#">北京儿童摄影</a></li>
                    <li><a href="#">北京儿童摄影</a></li>
                    <li><a href="#">北京儿童摄影</a></li>
                    <li><a href="#">北京儿童摄影</a></li>
                    <li><a href="#">北京儿童摄影</a></li>
                    <li><a href="#">北京儿童摄影</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footerbox1">
    	<div class="clearfix foot1con">
        	<ul class="fl">
            	<li class="fl">
                	<h6>蒙娜丽/莎主页</h6>
                    <a href="#">北京婚纱摄影网</a>
                    <a href="#">关于蒙娜丽莎</a>
                    <a href="#">联系我们</a>
                    <a href="#">客片欣赏</a>
                </li>
                <li class="fl">
                	<h6>蒙娜丽/莎主页</h6>
                    <a href="#">北京婚纱摄影网</a>
                    <a href="#">关于蒙娜丽莎</a>
                    <a href="#">联系我们</a>
                    <a href="#">客片欣赏</a>
                </li>
                <li class="fl">
                	<h6>蒙娜丽/莎主页</h6>
                    <a href="#">北京婚纱摄影网</a>
                    <a href="#">关于蒙娜丽莎</a>
                    <a href="#">联系我们</a>
                    <a href="#">客片欣赏</a>
                </li>
                <li class="fl">
                	<h6>蒙娜丽/莎主页</h6>
                    <a href="#">北京婚纱摄影网</a>
                    <a href="#">关于蒙娜丽莎</a>
                    <a href="#">联系我们</a>
                </li>
            </ul>
            <img src="img/bei15.jpg" class="fl"/>
        </div>
    </div>
    <div class="footerbox2">
    	<div  class="foot2con">
        	<p class="foot2con-t">
        		<a href="#">北京婚纱摄影 |</a>
        		<a href="#">婚纱照展示 |</a>
       			<a href="#">影楼报价 |</a>
        		<a href="#">摄影动态 |</a>
       			<a href="#">联系我们</a> 
        	</p><br/>
            <p><i class="foot2con-m1">版权所有 <span>c</span> 2007-2012 北京蒙娜丽莎摄影有限公司 Map | Tag&nbsp;&nbsp;站长统计
            	<i></i></i>
            </p><br/>
            <p class="foot2con-last">
            	热门推荐：
        		<a href="#">北京婚纱摄影</a>、
        		<a href="#">北京婚纱影楼</a>、
       			<a href="#">婚纱照或者婚纱摄影外景</a>，尽在蒙娜丽莎！网站技术，SEO优化支持：东辉创想。
        	</p><br/>
        </div>
    </div>
    <i class="baidu"></i>
</body>
</html>
