<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>美团首页</title>
<link rel="stylesheet" href="css/base.css"/>
<link rel="stylesheet" href="css/style.css"/>
<script src="js/head.js"></script>
</head>

<body>
	<!--顶部导航开始-->
	<div class="head1box">
		<div class="head_nav clearfix">
			<!--顶部导航的左边-->
			<ul class="fl head_nav_l">
				<li><a href="#" class="xing"><span></span>收藏美团</a></li>
				<li><a href="#" class="login">登陆</a></li>
				<li><a href="#">注册</a></li>
				<li class="mt1-mobile">
					<a href="javascript:;" class="mt1-main">
						<i class="icon-mobile"></i>
						手机美团
						<i class="icon-down"></i>		
					</a>
					<div class="mt1-dropdown-menu">
						<div>
							<a  href="javascript:;" class="app-block">
								<span class="app-title">免费下载美团手机版</span>
								<span class="app-cont"></span>
								<i class="app-right"></i>
							</a>
						</div>
						<div>
							<a  href="javascript:;" class="app-maoyan">
								<span class="app-title">免费下载猫眼电影手机版</span>
								<span class="app-cont"></span>
								<i class="app-right"></i>
							</a>
						</div>
					</div>
				</li>
			</ul>
			<!--顶部导航的右边-->
			<ul class="fr head_nav_r">
				<li><a href="#">我的订单</a></li>
				<li class="head_nav_r1 mymt" id="j_h_nav"><a href="#" ><span></span> 我的美团</a>
					<ul class="h_secnav">
						<li class="h_nav_mymt_first"><a href="#">我的订单</a></li>
						<li><a href="#">我的评价</a></li>
						<li><a href="#">我的收藏</a></li>
						<li><a href="#">我的积分</a></li>
						<li><a href="#">抵用券</a></li>
						<li><a href="#">美团余额</a></li>
						<li><a href="#">账户充值</a></li>
						<li><a href="#">账户设置</a></li>
					</ul>
				</li>
				<li class="head_nav_r1"><a href="#">最近浏览</a></li>
				<li class="head_nav_r1"><a href="#">购物车<span>0</span>件</a></li>
				<li class="head_nav_r1"><a href="#">联系客服</a></li>
				<li class="head_nav_r1"><a href="#">我是商家</a></li>
				<li><a href="#">更多</a></li>
			</ul>
		</div>
	</div>
	<!--顶部导航结束-->

<!--广告开始-->
	<div class="mt1-banner" id="mt1">
			<img src="images/mt1-banner.jpg"/>
			<span  id="banner"></span>
	</div>
<!--广告结束-->

<!--搜索开始-->
	<div class="mt1-branding clearfix">
		<h1 class="fl">
			<a href="javascript:;">美团</a>
		</h1>
		<div class="city fl">
			<h2>
				<a href="javascript:;">北京</a>
			</h2>
				<a href="javascript:;" class="m-city">
					<span>切换城市</span>
				</a>
		</div>
		<div class="mt1-ser fl">
			<div class="search ">
				<ul>
					<li>团购</li>
					<li>商家</li>
				</ul>
				<input type="text"  class="txt" id="mt1-t"/>
				<span id="mt1-s">请输入商品名称、地址等 </span>
				<input type="button" value="搜索" class="sub" />
			</div>
			<ul class="mt1-listm">
				<li>
					<a href="javascript:;">正一味</a>
				</li>
				<li>
					<a href="javascript:;">海洋馆</a>
				</li>
				<li>
					<a href="javascript:;">美联社</a>
				</li>
				<li>
					<a href="javascript:;">真功夫</a>
				</li>
				<li>
					<a href="javascript:;">汉拿山</a>
				</li>
				<li>
					<a href="javascript:;">吉野家</a>
				</li>
				<li>
					<a href="javascript:;">九毛九</a>
				</li>
				<li>
					<a href="javascript:;">黄记煌</a>
				</li>
			</ul>
		</div>
		<ul class="commitment fr">
			<li class="any">
				<a href="javascript:;">随时退</a>
			</li>
			<li class="unsatisified">
				<a href="javascript:;">不满意免单</a>
			</li>
			<li class="overdue">
				<a href="javascript:;">过期退</a>
			</li>
		</ul>
	</div>
<!--搜索结束-->
<!--菜单开始-->
	<ul class="mt1-menu clearfix">
		<li class="cates">
			<a href="javascript:;">全部分类</a>
		</li>
		<li class="mt1-m">
			<a href="javascript:;">首页</a>
		</li>
		<li class="mt1-m1">
			<a href="javascript:;">今日新单</a>
		</li>
		<li class="mt1-m1">
			<a href="javascript:;">身边团购</a>
		</li>
		<li class="mt1-m">
			<a href="javascript:;">购物</a>
		</li>
		<li class="mt1-m1">
			<a href="javascript:;">身边外卖</a>
		</li>
		<li class="mt1-m1">
			<a href="javascript:;">名品抢购</a>
		</li>
	</ul>
<!--菜单结束-->
	 <!--   头部下的脖子部分开始   -->
    <div class="mt2-neck clearfix">
        <ul class="mt2-nl fl">   <!--  加js   -->
            <li>
                <p class="mt2-menu">
                    <a class="mt2-col333 fl mt2-sty1" href="javascript:;">美食</a>
                    <a class="mt2-col999 fr mt2-sty2" href="javascript:;">自助餐</a>
                    <a class="mt2-col999 fr mt2-sty2" href="javascript:;">代金券</a>
                </p>
                <div class="mt2-hid">
                    <h3><a href="javascript:;">美食</a></h3>
                    <p>
                        <a href="javascript:;">代金券</a>
                        <a href="javascript:;">自助餐</a>
                        <a href="javascript:;">火锅</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                        <a href="javascript:;">代金券</a>
                        <a href="javascript:;">自助餐</a>
                        <a href="javascript:;">火锅</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                    </p>
                </div>
            </li>
            <li>
                <p class="mt2-menu">
                    <a class="mt2-col333 fl mt2-sty1" href="javascript:;">酒店</a>
                    <a class="mt2-col999 fr mt2-sty2" href="javascript:;">经济型酒店</a>
                </p>
                <div class="mt2-hid">
                    <h3><a href="javascript:;">酒店</a></h3>
                    <p>
                        <a href="javascript:;">推荐酒店</a>
                        <a href="javascript:;">酒店1</a>
                        <a href="javascript:;">酒店2</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                        <a href="javascript:;">代金券</a>
                        <a href="javascript:;">自助餐</a>
                        <a href="javascript:;">火锅</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                    </p>
                </div>
            </li>
            <li>
                <p class="mt2-menu">
                    <a class="mt2-col333 fl mt2-sty1" href="javascript:;">电影/在线选座</a>
                </p>
                <div class="mt2-hid">
                    <h3><a href="javascript:;">电影</a></h3>
                    <p>
                        <a href="javascript:;">推荐电影</a>
                        <a href="javascript:;">电影1</a>
                        <a href="javascript:;">电影2</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                        <a href="javascript:;">代金券</a>
                        <a href="javascript:;">自助餐</a>
                        <a href="javascript:;">火锅</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                    </p>
                </div>
            </li>
            <li class="mt2-t1">
                <p class="mt2-menu">
                    <a class="mt2-col333 fl mt2-sty1" href="javascript:;">KTV/在线预订</a>
                </p>
                <div class="mt2-hid">
                    <h3><a href="javascript:;">KTV</a></h3>
                    <p>
                        <a href="javascript:;">KTV1</a>
                        <a href="javascript:;">卡拉OK</a>
                        <a href="javascript:;">火锅</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                        <a href="javascript:;">代金券</a>
                        <a href="javascript:;">自助餐</a>
                        <a href="javascript:;">火锅</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                    </p>
                </div>
            </li>
            <li>
                <p class="mt2-menu">
                    <a class="mt2-col333 fl mt2-sty1" href="javascript:;">休闲娱乐</a>
                    <a class="mt2-col999 fr mt2-sty2" href="javascript:;">足疗按摩</a>
                    <a class="mt2-col999 fr mt2-sty2" href="javascript:;">温泉</a>
                </p>
                <div class="mt2-hid">
                    <h3><a href="javascript:;">休闲娱乐</a></h3>
                    <p>
                        <a href="javascript:;">足疗</a>
                        <a href="javascript:;">温泉</a>
                        <a href="javascript:;">火锅</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                        <a href="javascript:;">代金券</a>
                        <a href="javascript:;">自助餐</a>
                        <a href="javascript:;">火锅</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                    </p>
                </div>
            </li>
            <li>
                <p class="mt2-menu">
                    <a class="mt2-col333 fl mt2-sty1" href="javascript:;">周边游/旅游</a>
                </p>
                <div class="mt2-hid">
                    <h3><a href="javascript:;">旅游</a></h3>
                    <p>
                        <a href="javascript:;">代金券</a>
                        <a href="javascript:;">自助餐</a>
                        <a href="javascript:;">火锅</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                        <a href="javascript:;">代金券</a>
                        <a href="javascript:;">自助餐</a>
                        <a href="javascript:;">火锅</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                    </p>
                </div>
            </li>
            <li>
                <p class="mt2-menu">
                    <a class="mt2-col333 fl mt2-sty1" href="javascript:;">生活服务</a>
                    <a class="mt2-col999 fr mt2-sty2" href="javascript:;">婚纱摄影</a>
                    <a class="mt2-col999 fr mt2-sty2" href="javascript:;">个性写真</a>
                </p>
                <div class="mt2-hid">
                    <h3><a href="javascript:;">生活服务</a></h3>
                    <p>
                        <a href="javascript:;">代金券</a>
                        <a href="javascript:;">自助餐</a>
                        <a href="javascript:;">火锅</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                        <a href="javascript:;">代金券</a>
                        <a href="javascript:;">自助餐</a>
                        <a href="javascript:;">火锅</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                    </p>
                </div>
            </li>
            <li>
                <p class="mt2-menu">
                    <a class="mt2-col333 fl mt2-sty1" href="javascript:;">购物</a>
                    <a class="mt2-col999 fr mt2-sty2" href="javascript:;">女装</a>
                    <a class="mt2-col999 fr mt2-sty2" href="javascript:;">男装</a>
                    <a class="mt2-col999 fr mt2-sty2" href="javascript:;">内衣</a>
                </p>
                <div class="mt2-hid">
                    <h3><a href="javascript:;">购物</a></h3>
                    <p>
                        <a href="javascript:;">男装</a>
                        <a href="javascript:;">女装</a>
                        <a href="javascript:;">男装</a>
                        <a href="javascript:;">内衣</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                        <a href="javascript:;">代金券</a>
                        <a href="javascript:;">自助餐</a>
                        <a href="javascript:;">火锅</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                    </p>
                </div>
            </li>
            <li>
                <p class="mt2-menu">
                    <a class="mt2-col333 fl mt2-sty1" href="javascript:;">丽人</a>
                    <a class="mt2-col999 fr mt2-sty2" href="javascript:;">美容美体</a>
                    <a class="mt2-col999 fr mt2-sty2" href="javascript:;">美发</a>
                </p>
                <div class="mt2-hid">
                    <h3><a href="javascript:;">美容</a></h3>
                    <p>
                        <a href="javascript:;">美体</a>
                        <a href="javascript:;">美发</a>
                        <a href="javascript:;">火锅</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                        <a href="javascript:;">代金券</a>
                        <a href="javascript:;">自助餐</a>
                        <a href="javascript:;">火锅</a>
                        <a href="javascript:;">烤肉</a>
                        <a href="javascript:;">蛋糕甜点</a>
                        <a href="javascript:;">西餐</a>
                        <a href="javascript:;">日韩料理</a>
                        <a href="javascript:;">香锅烤鱼</a>
                        <a href="javascript:;">聚餐宴请</a>
                        <a href="javascript:;">川湘菜</a>
                        <a href="javascript:;">鲁菜/北京菜</a>
                        <a href="javascript:;">小吃</a>
                        <a href="javascript:;">快餐</a>
                        <a href="javascript:;">咖啡酒吧茶馆</a>
                    </p>
                </div>
            </li>

        </ul>
        <div class="mt2-nm fl">
            <ul class="mt2-nms">
                <li class="clearfix">
                    <i class="mt2-icon1 fl"></i>
                    <dl class="fl">
                        <dt><a class="mt2-col999" href="javascript:;">热门团购</a></dt>
                        <dd><a class="mt2-colf86120" href="javascript:;">代金券</a></dd>
                        <dd><a class="mt2-colf86120" href="javascript:;">经济型酒店</a></dd>
                        <dd><a class="mt2-colf86120" href="javascript:;">婚纱摄影</a></dd>
                        <dd><a href="javascript:;">美发</a></dd>
                        <dd><a href="javascript:;">足疗按摩</a></dd>
                        <dd><a href="javascript:;">蛋糕甜点</a></dd>
                        <dd><a class="mt2-colf86120" href="javascript:;">火锅</a></dd>
                        <dd><a href="javascript:;">儿童摄影</a></dd>
                    </dl>
                </li>
                <li class="clearfix mt2-t2">
                    <i class="mt2-icon2 fl"></i>
                    <dl class="fl">
                        <dt><a class="mt2-col999" href="javascript:;">全部区域</a></dt>
                        <dd><a href="javascript:;">朝阳区</a></dd>
                        <dd><a href="javascript:;">海淀区</a></dd>
                        <dd><a href="javascript:;">丰台区</a></dd>
                        <dd><a href="javascript:;">西城区</a></dd>
                        <dd><a href="javascript:;">东城区</a></dd>
                        <dd><a href="javascript:;">昌平区</a></dd>
                        <dd><a href="javascript:;">石景山区</a></dd>
                        <dd><a href="javascript:;">通州区</a></dd>
                        <dd><a href="javascript:;">大兴区</a></dd>
                    </dl>
                    <div class="mt2-morebox">
                        <a class="fl mt2-more" href="javascript:;">更多</a>
                        <p class="mt2-area clearfix" id="j-mt2-area">     <!--     加js   -->
                            <a href="javascript:;">顺义区</a>
                            <a href="javascript:;">房山区</a>
                            <a href="javascript:;">密云县</a>
                            <a href="javascript:;">怀柔区</a>
                            <a href="javascript:;">延庆县</a>
                            <a href="javascript:;">平谷山</a>
                            <a href="javascript:;">门头沟</a>
                        </p>
                    </div>

                </li>
                <li class="clearfix">
                    <i class="mt2-icon3 fl"></i>
                    <dl class="fl">
                        <dt><a class="mt2-col999" href="javascript:;">热门商圈</a></dt>
                        <dd><a href="javascript:;">望京</a></dd>
                        <dd><a href="javascript:;">昌平镇</a></dd>
                        <dd><a href="javascript:;">亦庄</a></dd>
                        <dd><a href="javascript:;">中关村</a></dd>
                        <dd><a href="javascript:;">远大路</a></dd>
                        <dd><a href="javascript:;">西红门</a></dd>
                        <dd><a href="javascript:;">双井</a></dd>
                        <dd><a href="javascript:;">大望路</a></dd>
                        <dd><a href="javascript:;">黄村</a></dd>
                        <dd><a href="javascript:;">牡丹园/北太平庄</a></dd>
                    </dl>
                </li>
            </ul>
            <div class="mt2-nmx" id="mt2-con">      <!--   加js    -->
			    <i class="mt2-left pre"></i>
                <i class="mt2-right next">1/6</i>
                <ul class="mt2-nmx-list" id="j-mt2-tab">
                    <li class="clearfix j-con show">
                        <div class="fl">
                            <a href="javascript:;"><img src="images/mt2-1.jpg" /></a>
                        </div>
                        <div class="fl">
                            <a href="javascript:;"><img src="images/mt2-2.jpg" /></a>
                        </div>
                    </li>
                    <li class="clearfix j-con">
                        <div class="fl">
                            <a href="javascript:;"><img src="images/mt2-2.jpg" /></a>
                        </div>
                        <div class="fl">
                            <a href="javascript:;"><img src="images/mt2-3.jpg" /></a>
                        </div>
                    </li>
                    <li class="clearfix j-con">
                        <div class="fl">
                            <a href="javascript:;"><img src="images/mt2-3.jpg" /></a>
                        </div>
                        <div class="fl">
                            <a href="javascript:;"><img src="images/mt2-4.jpg" /></a>
                        </div>
                    </li>
                    <li class="clearfix j-con">
                        <div class="fl">
                            <a href="javascript:;"><img src="images/mt2-2.jpg" /></a>
                        </div>
                        <div class="fl">
                            <a href="javascript:;"><img src="images/mt2-3.jpg" /></a>
                        </div>
                    </li>
                    <li class="clearfix j-con">
                        <div class="fl">
                            <a href="javascript:;"><img src="images/mt2-3.jpg" /></a>
                        </div>
                        <div class="fl">
                            <a href="javascript:;"><img src="images/mt2-2.jpg" /></a>
                        </div>
                    </li>
                    <li class="clearfix j-con">
                        <div class="fl">
                            <a href="javascript:;"><img src="images/mt2-2.jpg" /></a>
                        </div>
                        <div class="fl">
                            <a href="javascript:;"><img src="images/mt2-4.jpg" /></a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="mt2-nr fl">   <!--   加js   -->
            <img src="images/mt2-r1.png" />
            <div class="mt2-nr-js" id="mt2">
                <i class="mt2-l" id="left"></i>
                <i class="mt2-r" id="right"></i>
                <ul class="mt2-nr-list">
                    <li class="fl">
                        <a class="mt2-sty3" href="javascript:;">超级星期二<br/><span class="mt2-sty4">每周10点等你来</span></a>
                        <a href="javascript:;"><img src="images/mt2-r2.jpg" /></a>
                    </li>
                    <li class="fl">
                        <a class="mt2-sty3" href="javascript:;">超级霸王餐<br/><span class="mt2-sty4">0元美味大聚餐</span></a>
                        <a href="javascript:;"><img src="images/mt2-r3.jpg" /></a>
                    </li>
                </ul>
                <div class="mts-cirs clearfix" id="mt2-i">
                    <i class="fl mt2-cir active"></i>
                    <i class="fl mt2-cir"></i>
                </div>
            </div>
        </div>
    </div>
        <!--   头部下的脖子部分结束    -->



	<div class="mt3" >
		<div class="mt3-header clearfix">
			<a href="javascript:;" class="famous-link fl"> 名店抢购</a>
			<div class="mt3-start fl" id="mt3-time">
				<span class="from-start"></span>
				<span class="time">0</span>
				<span class="time">4</span>
				<span class="colon">:</span>
				<span class="time">5</span>
				<span class="time">5</span>
				<span class="colon">:</span>
				<span class="time">1</span>
				<span class="time">0</span>
			</div>
		</div>
		<div class="mt3-content" id="mt3-con">
			<ul>
				<li class="list clearfix show j-con" >
					<div class="list-intro fl">
						<a href="javascript:;" class="list-pic">
							<img src="images/732b54efa71258666c5f30be1410b14e100109.png" />
						</a>
						<a href="javascript:;" class="list-tit">【13店通用】俏江南</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥75</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元</span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
					</div>
					<div class="list-intro fl">
						<a href="javascript:;" class="list-pic">
							<img src="images/7ba5fb842c02b7086b8a10bd8812826c73616.png" />
						</a>
						<a href="javascript:;" class="list-tit">【7店通用】茶花妹子云南餐厅</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥75</span>
							<span class="sales fr">已售1234</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元 </span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
					</div>
					<div class="list-intro fl">
						<a href="javascript:;" class="list-pic">
							<img src="images/chan88101.jpg" />
						</a>
						<a href="javascript:;" class="list-tit">【94店通用】必胜客</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥75</span>
							<span class="sales fr">已售7899</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元 </span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
					</div>
					<div class="list-intro fl">
						<a href="javascript:;" class="list-pic">
							<img src="images/chan88103.jpg" />
						</a>
						<a href="javascript:;" class="list-tit">【13店通用】俏江南</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥75</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元 </span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
					</div>
					<div class="list-intro fl noBor">
						<a href="javascript:;" class="list-pic">
							<img src="images/chan88102.jpg" />
						</a>
						<a href="javascript:;" class="list-tit">【13店通用】俏江南</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥75</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元</span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
						
					</div>
				</li>
				<li class="list clearfix j-con">
					<div class="list-intro fl">
						<a href="javascript:;" class="list-pic">
							<img src="images/9b141286b76afdcfaefc5e1ed234296e166173.jpg" />
						</a>
						<a href="javascript:;" class="list-tit">【7店通用】松子日本料理</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥88</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元</span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
					</div>
					<div class="list-intro fl">
						<a href="javascript:;" class="list-pic">
							<img src="images/8f425e2c749b6572b32ad4ff51816d5f38013.jpg" />
						</a>
						<a href="javascript:;" class="list-tit">【7店通用】松子日本料理</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥88</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元 </span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
					</div>
					<div class="list-intro fl">
						<a href="javascript:;" class="list-pic">
							<img src="images/54db2dfe74d32234f16062f15787eeb471112.jpg" />
						</a>
						<a href="javascript:;" class="list-tit">【7店通用】松子日本料理</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥88</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元 </span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
					</div>
					<div class="list-intro fl">
						<a href="javascript:;" class="list-pic">
							<img src="images/0141f5f47f4d1ecc70de666fafd1bb2b129658.jpg" />
						</a>
						<a href="javascript:;" class="list-tit">【7店通用】松子日本料理</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥88</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元 </span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
					</div>
					<div class="list-intro fl noBor">
						<a href="javascript:;" class="list-pic">
							<img src="images/732b54efa71258666c5f30be1410b14e100109.png" />
						</a>
						<a href="javascript:;" class="list-tit">【7店通用】松子日本料理</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥88</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元</span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
						
					</div>
				</li>
				<li class="list clearfix j-con">
					<div class="list-intro fl">
						<a href="javascript:;" class="list-pic">
							<img src="images/chan88101.jpg" />
						</a>
						<a href="javascript:;" class="list-tit">【7店通用】茶花妹子云南餐厅</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥75</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元</span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
					</div>
					<div class="list-intro fl">
						<a href="javascript:;" class="list-pic">
							<img src="images/chan88102.jpg" />
						</a>
						<a href="javascript:;" class="list-tit">【7店通用】茶花妹子云南餐厅</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥75</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元 </span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
					</div>
					<div class="list-intro fl">
						<a href="javascript:;" class="list-pic">
							<img src="images/5d58273bbbf12f836ae643c9d5f5dcee47102.jpg" />
						</a>
						<a href="javascript:;" class="list-tit">【7店通用】茶花妹子云南餐厅</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥75</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元 </span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
					</div>
					<div class="list-intro fl">
						<a href="javascript:;" class="list-pic">
							<img src="images/54db2dfe74d32234f16062f15787eeb471112.jpg" />
						</a>
						<a href="javascript:;" class="list-tit">【7店通用】茶花妹子云南餐厅</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥75</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元 </span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
					</div>
					<div class="list-intro fl noBor">
						<a href="javascript:;" class="list-pic">
							<img src="images/7ba5fb842c02b7086b8a10bd8812826c73616.png" />
						</a>
						<a href="javascript:;" class="list-tit">【7店通用】茶花妹子云南餐厅</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥75</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元</span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
						
					</div>
				</li>
				<li class="list clearfix j-con">
					<div class="list-intro fl">
						<a href="javascript:;" class="list-pic">
							<img src="images/732b54efa71258666c5f30be1410b14e100109.png" />
						</a>
						<a href="javascript:;" class="list-tit">【94店通用】必胜客</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥88</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元</span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
					</div>
					<div class="list-intro fl">
						<a href="javascript:;" class="list-pic">
							<img src="images/732b54efa71258666c5f30be1410b14e100109.png" />
						</a>
						<a href="javascript:;" class="list-tit">【94店通用】必胜客</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥88</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元 </span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
					</div>
					<div class="list-intro fl">
						<a href="javascript:;" class="list-pic">
							<img src="images/732b54efa71258666c5f30be1410b14e100109.png" />
						</a>
						<a href="javascript:;" class="list-tit">【94店通用】必胜客</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥88</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元 </span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
					</div>
					<div class="list-intro fl">
						<a href="javascript:;" class="list-pic">
							<img src="images/732b54efa71258666c5f30be1410b14e100109.png" />
						</a>
						<a href="javascript:;" class="list-tit">【94店通用】必胜客</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥88</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元 </span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
					</div>
					<div class="list-intro fl noBor">
						<a href="javascript:;" class="list-pic">
							<img src="images/732b54efa71258666c5f30be1410b14e100109.png" />
						</a>
						<a href="javascript:;" class="list-tit">【94店通用】必胜客</a>
						<p class="list-detail clearfix">
							<span class="price fl">￥88</span>
							<span class="sales fr">已售51515</span>	
						</p>
						<div class="list-extra">
							<p><span>手机购买立减11元</span></p>
						</div>
						<i class="nobooking">免预约</i>
						<i class="moretc">多套餐</i>
						
					</div>
				</li>
			</ul>
			<i class="pre"></i>
			<i class="next">1/4</i>
		</div>
	</div>
	<div class="mt4-msArea">
		<div class="mt4-msTit clearfix">
			<h3 class="fl">
				<i class="mt4-msTitIcon fl"></i>
				<span class="fl">美食</span>
			</h3>
			<ul class="mt4-msNav fr">
				<li class="fl"><a href="javascript:;">代金券</a></li>
				<li class="fl"><a href="javascript:;">自助餐</a></li>
				<li class="fl"><a href="javascript:;">火锅</a></li>
				<li class="fl"><a href="javascript:;">烧烤烤肉</a></li>
				<li class="fl"><a href="javascript:;">香锅烤鱼</a></li>
				<li class="fl"><a href="javascript:;">西餐</a></li>
				<li class="fl last"><a href="javascript:;">全部&nbsp;&gt;</a></li>
			</ul>
		</div>
		<ul class="mt4-msList clearfix">
			<li class="mt4-msCon fl">
				<a href="javascript:;" class="mt4-msItemImg">
					<img src="images/bsk.jpg" class="mt4-msItemPic" />
					<i></i>
				</a>
				<h4 class="mt4-msItemTit">
					<a href="javascript:;" class="mt4-msItemTit1">【96店通用】必胜客</a><br />
					<a href="javascript:;" class="mt4-msItemTit2">滋滋鸡腿肉欢享盘一份，美味不停歇</a>
				</h4>
				<p class="mt4-msItemPrice clearfix">
					<span class="fl mt4-msItemNowPrice">¥48</span>
					<span class="fl mt4-msItemPrePrice">¥60</span>
					<span class="fr mt4-msItemSaleNum">已售3588</span>
				</p>
				<div class="mt4-msItemCom clearfix">
					<a href="javascript:;" class="mt4-msItemComNum fr">900人评价</a>
				</div>
			</li>
			<li class="mt4-msCon fl">
				<a href="javascript:;" class="mt4-msItemImg">
					<img src="images/bsk.jpg" class="mt4-msItemPic" />
					<i></i>
				</a>
				<h4 class="mt4-msItemTit">
					<a href="javascript:;" class="mt4-msItemTit1">【96店通用】必胜客</a><br />
					<a href="javascript:;" class="mt4-msItemTit2">滋滋鸡腿肉欢享盘一份，美味不停歇</a>
				</h4>
				<p class="mt4-msItemPrice clearfix">
					<span class="fl mt4-msItemNowPrice">¥48</span>
					<span class="fl mt4-msItemPrePrice">¥60</span>
					<span class="fr mt4-msItemSaleNum">已售3588</span>
				</p>
				<div class="mt4-msItemCom clearfix">
					<a href="javascript:;" class="mt4-msItemComNum fr">900人评价</a>
				</div>
			</li>
			<li class="mt4-msCon fl">
				<a href="javascript:;" class="mt4-msItemImg">
					<img src="images/bsk.jpg" class="mt4-msItemPic" />
					<i></i>
				</a>
				<h4 class="mt4-msItemTit">
					<a href="javascript:;" class="mt4-msItemTit1">【96店通用】必胜客</a><br />
					<a href="javascript:;" class="mt4-msItemTit2">滋滋鸡腿肉欢享盘一份，美味不停歇</a>
				</h4>
				<p class="mt4-msItemPrice clearfix">
					<span class="fl mt4-msItemNowPrice">¥48</span>
					<span class="fl mt4-msItemPrePrice">¥60</span>
					<span class="fr mt4-msItemSaleNum">已售3588</span>
				</p>
				<div class="mt4-msItemCom clearfix">
					<a href="javascript:;" class="mt4-msItemComNum fr">900人评价</a>
				</div>
			</li>
			<li class="mt4-msCon fl">
				<a href="javascript:;" class="mt4-msItemImg">
					<img src="images/bsk.jpg" class="mt4-msItemPic" />
					<i></i>
				</a>
				<h4 class="mt4-msItemTit">
					<a href="javascript:;" class="mt4-msItemTit1">【96店通用】必胜客</a><br />
					<a href="javascript:;" class="mt4-msItemTit2">滋滋鸡腿肉欢享盘一份，美味不停歇</a>
				</h4>
				<p class="mt4-msItemPrice clearfix">
					<span class="fl mt4-msItemNowPrice">¥48</span>
					<span class="fl mt4-msItemPrePrice">¥60</span>
					<span class="fr mt4-msItemSaleNum">已售3588</span>
				</p>
				<div class="mt4-msItemCom clearfix">
					<a href="javascript:;" class="mt4-msItemComNum fr">900人评价</a>
				</div>
			</li>
			<li class="mt4-msCon fl">
				<a href="javascript:;" class="mt4-msItemImg">
					<img src="images/bsk.jpg" class="mt4-msItemPic" />
					<i></i>
				</a>
				<h4 class="mt4-msItemTit">
					<a href="javascript:;" class="mt4-msItemTit1">【96店通用】必胜客</a><br />
					<a href="javascript:;" class="mt4-msItemTit2">滋滋鸡腿肉欢享盘一份，美味不停歇</a>
				</h4>
				<p class="mt4-msItemPrice clearfix">
					<span class="fl mt4-msItemNowPrice">¥48</span>
					<span class="fl mt4-msItemPrePrice">¥60</span>
					<span class="fr mt4-msItemSaleNum">已售3588</span>
				</p>
				<div class="mt4-msItemCom clearfix">
					<a href="javascript:;" class="mt4-msItemComNum fr">900人评价</a>
				</div>
			</li>
			<li class="mt4-msCon fl">
				<a href="javascript:;" class="mt4-msItemImg">
					<img src="images/bsk.jpg" class="mt4-msItemPic" />
					<i></i>
				</a>
				<h4 class="mt4-msItemTit">
					<a href="javascript:;" class="mt4-msItemTit1">【96店通用】必胜客</a><br />
					<a href="javascript:;" class="mt4-msItemTit2">滋滋鸡腿肉欢享盘一份，美味不停歇</a>
				</h4>
				<p class="mt4-msItemPrice clearfix">
					<span class="fl mt4-msItemNowPrice">¥48</span>
					<span class="fl mt4-msItemPrePrice">¥60</span>
					<span class="fr mt4-msItemSaleNum">已售3588</span>
				</p>
				<div class="mt4-msItemCom clearfix">
					<a href="javascript:;" class="mt4-msItemComNum fr">900人评价</a>
				</div>
			</li>
			<li class="mt4-msCon fl">
				<a href="javascript:;" class="mt4-msItemImg">
					<img src="images/bsk.jpg" class="mt4-msItemPic" />
					<i></i>
				</a>
				<h4 class="mt4-msItemTit">
					<a href="javascript:;" class="mt4-msItemTit1">【96店通用】必胜客</a><br />
					<a href="javascript:;" class="mt4-msItemTit2">滋滋鸡腿肉欢享盘一份，美味不停歇</a>
				</h4>
				<p class="mt4-msItemPrice clearfix">
					<span class="fl mt4-msItemNowPrice">¥48</span>
					<span class="fl mt4-msItemPrePrice">¥60</span>
					<span class="fr mt4-msItemSaleNum">已售3588</span>
				</p>
				<div class="mt4-msItemCom clearfix">
					<a href="javascript:;" class="mt4-msItemComNum fr">900人评价</a>
				</div>
			</li>
			<li class="mt4-msCon fl">
				<a href="javascript:;" class="mt4-msItemImg">
					<img src="images/bsk.jpg" class="mt4-msItemPic" />
					<i></i>
				</a>
				<h4 class="mt4-msItemTit">
					<a href="javascript:;" class="mt4-msItemTit1">【96店通用】必胜客</a><br />
					<a href="javascript:;" class="mt4-msItemTit2">滋滋鸡腿肉欢享盘一份，美味不停歇</a>
				</h4>
				<p class="mt4-msItemPrice clearfix">
					<span class="fl mt4-msItemNowPrice">¥48</span>
					<span class="fl mt4-msItemPrePrice">¥60</span>
					<span class="fr mt4-msItemSaleNum">已售3588</span>
				</p>
				<div class="mt4-msItemCom clearfix">
					<a href="javascript:;" class="mt4-msItemComNum fr">900人评价</a>
				</div>
			</li>
			<li class="mt4-msCon fl">
				<a href="javascript:;" class="mt4-msItemImg">
					<img src="images/bsk.jpg" class="mt4-msItemPic" />
					<i></i>
				</a>
				<h4 class="mt4-msItemTit">
					<a href="javascript:;" class="mt4-msItemTit1">【96店通用】必胜客</a><br />
					<a href="javascript:;" class="mt4-msItemTit2">滋滋鸡腿肉欢享盘一份，美味不停歇</a>
				</h4>
				<p class="mt4-msItemPrice clearfix">
					<span class="fl mt4-msItemNowPrice">¥48</span>
					<span class="fl mt4-msItemPrePrice">¥60</span>
					<span class="fr mt4-msItemSaleNum">已售3588</span>
				</p>
				<div class="mt4-msItemCom clearfix">
					<a href="javascript:;" class="mt4-msItemComNum fr">900人评价</a>
				</div>
			</li>
			<li class="mt4-msCon fl">
				<a href="javascript:;" class="mt4-msItemImg">
					<img src="images/bsk.jpg" class="mt4-msItemPic" />
					<i></i>
				</a>
				<h4 class="mt4-msItemTit">
					<a href="javascript:;" class="mt4-msItemTit1">【96店通用】必胜客</a><br />
					<a href="javascript:;" class="mt4-msItemTit2">滋滋鸡腿肉欢享盘一份，美味不停歇</a>
				</h4>
				<p class="mt4-msItemPrice clearfix">
					<span class="fl mt4-msItemNowPrice">¥48</span>
					<span class="fl mt4-msItemPrePrice">¥60</span>
					<span class="fr mt4-msItemSaleNum">已售3588</span>
				</p>
				<div class="mt4-msItemCom clearfix">
					<a href="javascript:;" class="mt4-msItemComNum fr">900人评价</a>
				</div>
			</li>
			<li class="mt4-msCon fl">
				<a href="javascript:;" class="mt4-msItemImg">
					<img src="images/bsk.jpg" class="mt4-msItemPic" />
					<i></i>
				</a>
				<h4 class="mt4-msItemTit">
					<a href="javascript:;" class="mt4-msItemTit1">【96店通用】必胜客</a><br />
					<a href="javascript:;" class="mt4-msItemTit2">滋滋鸡腿肉欢享盘一份，美味不停歇</a>
				</h4>
				<p class="mt4-msItemPrice clearfix">
					<span class="fl mt4-msItemNowPrice">¥48</span>
					<span class="fl mt4-msItemPrePrice">¥60</span>
					<span class="fr mt4-msItemSaleNum">已售3588</span>
				</p>
				<div class="mt4-msItemCom clearfix">
					<a href="javascript:;" class="mt4-msItemComNum fr">900人评价</a>
				</div>
			</li>
			<li class="mt4-msCon fl">
				<a href="javascript:;" class="mt4-msItemImg">
					<img src="images/bsk.jpg" class="mt4-msItemPic" />
					<i></i>
				</a>
				<h4 class="mt4-msItemTit">
					<a href="javascript:;" class="mt4-msItemTit1">【96店通用】必胜客</a><br />
					<a href="javascript:;" class="mt4-msItemTit2">滋滋鸡腿肉欢享盘一份，美味不停歇</a>
				</h4>
				<p class="mt4-msItemPrice clearfix">
					<span class="fl mt4-msItemNowPrice">¥48</span>
					<span class="fl mt4-msItemPrePrice">¥60</span>
					<span class="fr mt4-msItemSaleNum">已售3588</span>
				</p>
				<div class="mt4-msItemCom clearfix">
					<a href="javascript:;" class="mt4-msItemComNum fr">900人评价</a>
				</div>
			</li>	
		</ul>
		<p class="mt4-msMore"><a href="javascript:;">更多美食团购，请点击查看</a></p>
	</div>
	<div class="mt5-foot">
		<div class="mt5-box">
			<ul class="mt5-list clearfix">
				<li class="fl"><a href="javascript:;">团体分类</a></li>
				<li class="fl"><a href="javascript:;">热门地标</a></li>
				<li class="fl"><a href="javascript:;">今日新单</a></li>
				<li class="fl"><a href="javascript:;">热门团购</a></li>
				<li class="fl"><a href="javascript:;">精品推荐</a></li>
				<li class="fl"><a href="javascript:;">历史团购</a></li>
				<li class="fl"><a href="javascript:;">热门城市</a></li>
				<li class="fl"><a href="javascript:;">周边城市</a></li>
				<li class="fl"><a href="javascript:;">美团推荐</a></li>
				<li class="fl"><a href="javascript:;">品牌推荐</a></li>
				<li class="fl"><a href="javascript:;">专题推荐</a></li>
				<li class="mt5-last fl"><a href="javascript:;">品类推荐</a></li>
			</ul>
			<ul class="mt5-list2 clearfix">
				<li class="fl"><a href="javascript:;">美食团购</a></li>
				<li class="fl"><a href="javascript:;">电影团购</a></li>
				<li class="fl"><a href="javascript:;">休闲娱乐团购</a></li>
				<li class="fl"><a href="javascript:;">旅游团购</a></li>
				<li class="fl"><a href="javascript:;">生活服务团购</a></li>
				<li class="fl"><a href="javascript:;">购物团购</a></li>
				<li class="fl"><a href="javascript:;">丽人团购</a></li>
				<li class="fl"><a href="javascript:;">团购热评</a></li>
				<li class="fl"><a href="javascript:;">品牌团购</a></li>
				<li class="fl"><a href="javascript:;">专题团购</a></li>
			</ul>
		</div>
		<div class="mt5-footer clearFix">
			<div class="mt5-info fl">
				<h3>获取更新</h3>
				<ul>
					<li><a href="javascript:;">邮件订阅</a></li>
					<li><a href="javascript:;">iPhone/Android</a></li>
					<li><a href="javascript:;">美团QQ空间</a></li>
					<li><a href="javascript:;">美团新浪微博</a></li>
					<li><a href="javascript:;">sitemap</a></li>
					<li><a href="javascript:;">RSS订阅</a></li>                   
				</ul>
			</div>
			<div class="mt5-info fl">
				<h3>商务合作</h3>
				<ul>
					<li><a href="javascript:;">商家合作</a></li>
					<li><a href="javascript:;">美团商家营销平台</a></li>
					<li><a href="javascript:;">市场合作</a></li>
					<li><a href="javascript:;">美团联盟</a></li>
					<li><a href="javascript:;">廉正邮箱</a></li>
					<li class="list-none"><a href="javascript:;"> moc.nautiem@gnehznail </a></li>                   
				</ul>
			</div>
			<div class="mt5-info fl">
				<h3>公司信息</h3>
				<ul>
					<li><a href="javascript:;">关于美团</a></li>
					<li><a href="javascript:;">美团承诺</a></li>
					<li><a href="javascript:;">媒体报道</a></li>
					<li><a href="javascript:;">加入我们</a></li>
					<li><a href="javascript:;">法律声明</a></li>
					<li><a href="javascript:;">用户协议</a></li>                    
				</ul>
			</div>
			<div class="mt5-info fl">
				<h3>用户帮助</h3>
				<ul>
					<li><a href="javascript:;">申请退款</a></li>
					<li><a href="javascript:;">查看美团券密码</a></li>
					<li><a href="javascript:;">常见问题</a></li>
					<li><a href="javascript:;">开放API</a></li>
					<li><a href="javascript:;">美团云</a></li>
					<li><a href="javascript:;">反诈骗公告</a></li>                   
				</ul>
			</div>
			<div class="mt5-info-last fl">
				<i class="mt5-hot"></i>
				<p class="mt5-change">退款、退换货、查看美团券</p>
				<p class="mt5-teach"><a href="javascript:;">参考教程，轻松搞定 »</a></p>
				<div class="mt5-contact">
				<p>客服电话：400-660-5335</p>
				<p>服务时间：每天 9:00 - 22:00</p>
				</div>
			</div>          
		</div>
	</div>
	<div class="mt5-base">
		<div class="mt5-add">
			<span>@2015</span>
			<a href="javascript:;">美团网团购 </a>
			meituan.com 
			<a href="javascript:;">京ICP证070791号</a> 
			京公网安备11010502025545号
			<a href="javascript:;">电子公告服务规则</a>
		</div>
		<ul class="mt5-run clearfix">
			<li class="fl"><a class="mt5-copy" href="javascript:;"></a></li>
			<li class="fl"><a class="mt5-alipay" href="javascript:;"></a></li>
			<li class="fl"><a class="mt5-epay" href="javascript:;"></a></li>
			<li class="fl"><a class="mt5-kexin" href="javascript:;"></a></li>
			<li class="fl"><a class="mt5-go" href="javascript:;"></a></li>
		</ul>
	</div>
</body>
</html>
