@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0;}
a{color:#000; text-decoration:none;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,strong,b{font-weight:normal; font-size:100%;}
em,i{font-style:normal;}
body{font-size:12px; line-height:12px;}
a img{border:none; vertical-align:top;}
li{list-style:none;}
.clearfix:after{ display:block; clear:both; content:""; }
.clearfix{ zoom:1;}
.clearfix{ zoom:1;}
.fl{ float:left;}
.fr{ float:right;}
table{border-collapse:collapse;}
th,td{border:1px solid #d9e5f3;padding:0;}
input{ border:none;outline:none}

